//dark 
@light-blue-dark:         #00adb5;                      //new variable
@darker-blue-dark:        darken(@light-blue-dark, 2%); // before: #2e6da4;
@btn-icon-color-dark:     #333;                         // before: #fff;
@btn-bg-dark:             @light-blue-dark;             // before: #337ab7;
@modal-bg-dark:           #393e46;                      //used in dygraph-legend (new) (before: #fff;?)
@log-bg-dark:             darken(@modal-bg-dark, 20%);  //before: #f5f5f5;
@info-color-dark:         @light-blue-dark;             //before: #f39619;
@checkbox-color-dark:     @light-blue-dark;             //before: #f39619;
@progress-bar-dark:       @light-blue-dark;             //before: #f39619;
@table-row-odd-dark:      #76797e;                      //before: #fff;
@table-row-even-dark:     #848991;                      //before: #f2f2f2; 
@table-hover-dark:        #9499a0;                      //before: #ddd;
                                                 
@log-color-dark:          #3c8dbc;                      //new variable
@log-tab-dark:            @log-color-dark;              //before: #3c8dbc;
@log-text-dark:           @log-color-dark;              //before: #333;
@log-border-dark:         @log-color-dark;              //before: #ccc;
@text-color-dark:         #eee;                         //new variable
@plotly-text-dark:        #ccc;                         //new variable. before: empty (i.e. #444;)
@scrollbar-dark:          #848991;                      //before: #c0c0c0;
@scrollbar-shadow-dark:   grey;                         //before: #c0c0c0;
@tabset-group-out-dark:   #5ea7aa;                      //new - text color for output tabs in compare mode

///////////////////////////////////////////////////////

//light
@light-blue:              #3c8dbc;      //new variable - same light-blue color as in other less files
@darker-blue:             #2e6da4;
@btn-icon-color:          #fff;
@btn-bg:                  #337ab7;
@modal-bg:                #fff;      
@log-bg:                  #f5f5f5;
@info-color:              #f39619;
@checkbox-color:          #f39619;
@progress-bar:            #f39619;
@table-row-odd:           #fff;           
@table-row-even:          #f2f2f2;                     
@table-hover:             #ddd;

//@log-color:             #3c8dbc;       //new variable - not used in light mode
@log-tab:                 #3c8dbc;
@log-text:                #333;
@log-border:              #ccc;
@text-color:              #333;
@plotly-text:             #444;
@scrollbar:               #c0c0c0;      
@scrollbar-shadow:        #c0c0c0;
@tabset-group-out:        #458fb8;                      //new - text color for output tabs in compare mode

@import "../../8_miro/miro.less";