////dark variables
//@widget-bg: #848991;          //before: #ffffff;
//@light-blue: #00adb5;         //before: #428bca; (except selectize.bootstrap3.less: .selectize-input.focus {border-color: #66afe9;)
//@focus-color: @light-blue;    //before: #66afe9;
//@slider-above: #eeeeee;       //before: #333;
//@slider-below: #cccccc;       //before: #99a4ac;
//@dropdown-text-color: #000;   //before: #333333;

//light
@widget-bg: #ffffff;
@light-blue: #428bca;
@focus-color: #66afe9;
@slider-above: #333;
@slider-below: #99a4ac;
@dropdown-text-color: #333333;


@import "shiny.less";
@import "selectize.bootstrap3.less";
@import "bootstrap-datepicker3.less";
@import "ion.rangeSlider.less";
@import "ion.rangeSlider.skinShiny.less";