/* global variables */
@primary-color:     #690B22;
@log-color:         #690B22;
@gams-color:        #B5123B;
@remove-color:      #B5123B;
@sidebar-bg:        #fff;
@main-bg:           #fff; // background in dialogs, tables, ... body-bg is calculated from primary-color (since default main-bg is white)

@primary-color-dark:#690B22;
@log-color-dark:    #690B22;
@gams-color-dark:   #B5123B;
@remove-color-dark: #B5123B;
@sidebar-bg-dark:   #242424;
@main-bg-dark:      #3a3a3a; //from main-bg-dark also the body-bg is calculated (only in dark mode)
@widget-bg-dark:    #8c8589; //only in dark mode

@import "../variables/global_variables.less";

/* do not change */
@text-color:        #eee;
@text-color-dark:   #eee;
