//static - do not change!
//Bootstrap Variables & Mixins
//The core bootstrap code have not been modified. These files
//are included only for reference.
@import (reference) "../../3_adminlte/bootstrap-less/mixins.less";
@import (reference) "../../3_adminlte/bootstrap-less/variables.less";
//MISC
//----
@import "../../3_adminlte/less/core.less";
/////////////////////////////////////

//BEGIN DYNAMIC//////
//AdminLTE 2 Variables.less
//=========================

//PATHS
//--------------------------------------------------------

@boxed-layout-bg-image-path: "../img/boxed-bg.jpg";

/////////////////////////////////////////////////////////
//dark
//COLORS
//--------------------------------------------------------
//main color
@light-blue-dark:                @primary-color-dark;                         //before: #3c8dbc;
@light-blue-darken-dark:         darken(@light-blue-dark, 5%);    //before: darken(@light-blue, 5%);
@body-bg-dark:                   if(@main-bg-dark-has-no-color, hsl(hue(@main-bg-dark), 0%, 12%), hsl(hue(@main-bg-dark), 10%, 18%));//#292D33;                         //before: #ecf0f5;
@box-bg-dark:                    @main-bg-dark; //#393e46;                         //before: #fff;
@box-bg-light-dark:              lighten(@box-bg-dark, 5%);       //before: #f7f7f7;
//@text-color-dark:                #eeeeee;                         //before: #f4f4f4;
@text-color-trans-dark:          @text-color-dark;                //before: rgba(0, 0, 0, .1);
@text-color-darken1-dark:        @text-color-dark;                //before: #444;
@text-color-darken2-dark:        darken(@text-color-dark, 5%);    //before: #444;
@text-color-darken3-dark:        darken(@text-color-dark, 13.5%); // before: #444;
@dropdown-text-color-dark:       @text-color-dark;                //before: #777;
@box-boxshadow-dark:             0 1px 1px @text-color-trans-dark;
@date-range-middle-dark:         @widget-bg-dark; //#848991;                         //before: #fff
//Warning color
@yellow-dark:                    @gams-color-dark;                         //before: 3c8dbc;
@yellow-dark-gamsinter:          #030303;                         //before: @yellow-dark (#f39c12;) - used for gams-interaction boxes

//Link colors (Aka: <a> tags)
@link-color-dark:                @light-blue-dark;
@link-hover-color-dark:          lighten(@link-color-dark, 15%);

//navbar colors
@navbar-main-dark:               if(@primary-dark-has-no-color, hsl(hue(@primary-color-dark), 0%, 10%), hsl(hue(@primary-color-dark), 6%, 12%));//#222d32;                         //before: #fff;
@navbar-icons-dark:              @text-color-dark;                //before: #333;
@navbar-hover-dark:              lighten(@sidebar-dark-bg-dark, 60%);  //before: #999;

//Dark sidebar
@sidebar-dark-bg-dark:           @sidebar-bg-dark;                         //before: #222d32;
@sidebar-dark-hover-bg-dark:     if(@sidebar-dark-is-light, darken(@sidebar-dark-bg-dark, 2%), lighten(@sidebar-dark-bg-dark, 2%)); //lighten(@sidebar-dark-bg-dark, 2%); //before: darken(@sidebar-dark-bg, 2%);
@sidebar-dark-color-dark:        if(@sidebar-dark-is-light, #333, lighten(@sidebar-dark-bg-dark, 60%)); //#9499a0;  //before: lighten(@sidebar-dark-bg, 60%);
@sidebar-dark-hover-color-dark:  if(@sidebar-dark-is-light, #222, #fff); //#fff;
@sidebar-dark-submenu-bg-dark:   lighten(@sidebar-dark-bg-dark, 5%);
@sidebar-dark-submenu-color-dark: lighten(@sidebar-dark-submenu-bg-dark, 40%);
@sidebar-dark-submenu-hover-color-dark: #fff;


/////////////////////////////////////////////////////////
//light
//COLORS
//--------------------------------------------------------
//main color
@light-blue:                     @primary-color; //#3c8dbc;
@light-blue-darken:              darken(@light-blue, 5%);

@body-bg:                        if(@primary-has-no-color, hsl(hue(@primary-color), 0%, 80%), hsl(hue(@primary-color), 26%, 94%)); //#ecf0f5;
@box-bg:                         #fff;
@box-bg-light:                   #f7f7f7;

@text-color:                     #f4f4f4;
@text-color-trans:               rgba(0, 0, 0, .1);
@text-color-darken1:             #444;
@text-color-darken2:             #444;
@text-color-darken3:             #444;
@dropdown-text-color:            #777;
@box-boxshadow:                  0 1px 1px @text-color-trans;

//Warning color
@yellow:                         @gams-color;

//Link colors (Aka: <a> tags)
@link-color:                     @light-blue;
@link-hover-color:               lighten(@link-color, 15%);

//navbar colors
@navbar-main:                    #fff;
@navbar-icons:                   #333;
@navbar-hover:                   #999;

//Dark sidebar
@sidebar-dark-bg:                @sidebar-bg;//hsl(hue(@primary-color), 21%, 16%);//#222d32;
@sidebar-dark-hover-bg:          if(@sidebar-light-is-light, darken(@sidebar-dark-bg, 2%), lighten(@sidebar-dark-bg, 2%)); //darken(@sidebar-dark-bg, 2%);
@sidebar-dark-color:             if(@sidebar-light-is-light, #333, lighten(@sidebar-dark-bg, 60%)); //lighten(@sidebar-dark-bg, 60%);
@sidebar-dark-hover-color:       if(@sidebar-light-is-light, #222, #fff); //#fff;
@sidebar-dark-submenu-bg:        lighten(@sidebar-dark-bg, 5%);
@sidebar-dark-submenu-color:     lighten(@sidebar-dark-submenu-bg, 40%);
@sidebar-dark-submenu-hover-color: #fff;


//Danger
@red: #dd4b39;
//Success
@green: #00a65a;
//Info
@aqua: #00c0ef;
@blue: #0073b7;
@navy: #001F3F;
@teal: #39CCCC;
@olive: #3D9970;
@lime: #01FF70;
@orange: #FF851B;
@fuchsia: #F012BE;
@purple: #605ca8;
@maroon: #D81B60;
@black: #111;
@gray-lte: #d2d6de;

//Light sidebar
@sidebar-light-bg: #f9fafc;
@sidebar-light-hover-bg: lighten(#f0f0f1, 1.5%);
@sidebar-light-color: #444;
@sidebar-light-hover-color: #000;
@sidebar-light-submenu-bg: @sidebar-light-hover-bg;
@sidebar-light-submenu-color: #777;
@sidebar-light-submenu-hover-color: #000;

//LAYOUT
//--------------------------------------------------------

//Side bar and logo width
@sidebar-width: 230px;
//Boxed layout maximum width
@boxed-layout-max-width: 1024px;
//When the logo should go to the top of the screen
@screen-header-collapse: @screen-xs-max;

//CONTROL SIDEBAR
//--------------------------------------------------------
@control-sidebar-width: @sidebar-width;

//BOXES
//--------------------------------------------------------
@box-border-color: #f4f4f4;
@box-border-radius: 3px;
@box-footer-bg: #fff;
@box-padding: 10px;

//Box variants
@box-default-border-top-color: #d2d6de;

//BUTTONS
//--------------------------------------------------------
@btn-boxshadow: none;

//PROGRESS BARS
//--------------------------------------------------------
@progress-bar-border-radius: 1px;
@progress-bar-sm-border-radius: 1px;
@progress-bar-xs-border-radius: 1px;

//FORMS
//--------------------------------------------------------
@input-radius: 0;

//BUTTONS
//--------------------------------------------------------

//Border radius for non flat buttons
@btn-border-radius: 3px;

//DIRECT CHAT
//--------------------------------------------------------
@direct-chat-height: 250px;
@direct-chat-default-msg-bg: @gray-lte;
@direct-chat-default-font-color: #444;
@direct-chat-default-msg-border-color: @gray-lte;

//CHAT WIDGET
//--------------------------------------------------------
@attachment-border-radius: 3px;

//TRANSITIONS SETTINGS
//--------------------------------------------------------

//Transition global options
@transition-speed: .3s;
@transition-fn: ease-in-out;
@import "../../3_adminlte/less/AdminLTE.less";
