@alert-color: var(--alert-color);
@alert-color-dark: var(--alert-color-dark);
@console-text-color: var(--console-text-color);
@console-text-color-dark: var(--console-text-color-dark);
@darken-0efbf01c: var(--darken-0efbf01c);
@darken-111221b2: var(--darken-111221b2);
@darken-12518b85: var(--darken-12518b85);
@darken-1673785d: var(--darken-1673785d);
@darken-19dd7eda: var(--darken-19dd7eda);
@darken-28c2c354: var(--darken-28c2c354);
@darken-28f7e606: var(--darken-28f7e606);
@darken-29c4aefc: var(--darken-29c4aefc);
@darken-2ad94c65: var(--darken-2ad94c65);
@darken-3fd83bc2: var(--darken-3fd83bc2);
@darken-411e4a78: var(--darken-411e4a78);
@darken-41c1769c: var(--darken-41c1769c);
@darken-4879a36f: var(--darken-4879a36f);
@darken-4b80b5c4: var(--darken-4b80b5c4);
@darken-553812b2: var(--darken-553812b2);
@darken-57c981c3: var(--darken-57c981c3);
@darken-618fc861: var(--darken-618fc861);
@darken-618fc862: var(--darken-618fc862);
@darken-62f5e2b6: var(--darken-62f5e2b6);
@darken-686ca693: var(--darken-686ca693);
@darken-68f1341c: var(--darken-68f1341c);
@darken-75d40b33: var(--darken-75d40b33);
@darken-78904a7c: var(--darken-78904a7c);
@darken-7911e270: var(--darken-7911e270);
@darken-87dfbfea: var(--darken-87dfbfea);
@darken-8bbacd34: var(--darken-8bbacd34);
@darken-8df68996: var(--darken-8df68996);
@darken-8e82a497: var(--darken-8e82a497);
@darken-8e899f91: var(--darken-8e899f91);
@darken-8f2deed1: var(--darken-8f2deed1);
@darken-970a799e: var(--darken-970a799e);
@darken-9e0118e0: var(--darken-9e0118e0);
@darken-a59823b8: var(--darken-a59823b8);
@darken-a6b030af: var(--darken-a6b030af);
@darken-a780cc60: var(--darken-a780cc60);
@darken-a8b8ac97: var(--darken-a8b8ac97);
@darken-b05e8d17: var(--darken-b05e8d17);
@darken-b5221a2c: var(--darken-b5221a2c);
@darken-c2f685b8: var(--darken-c2f685b8);
@darken-c33ee2c5: var(--darken-c33ee2c5);
@darken-c806e739: var(--darken-c806e739);
@darken-cd55fe88: var(--darken-cd55fe88);
@darken-d35a8f8e: var(--darken-d35a8f8e);
@darken-daccffb8: var(--darken-daccffb8);
@darken-dc24222b: var(--darken-dc24222b);
@darken-e354f9b5: var(--darken-e354f9b5);
@darken-e71e1e83: var(--darken-e71e1e83);
@darken-e89a054b: var(--darken-e89a054b);
@darken-ec72c039: var(--darken-ec72c039);
@darken-eccec2f4: var(--darken-eccec2f4);
@darken-f6592ee2: var(--darken-f6592ee2);
@darken-v73ofn52: var(--darken-v73ofn52);
@fade-041bf36e: var(--fade-041bf36e);
@fade-09c43b35: var(--fade-09c43b35);
@fade-102be7f4: var(--fade-102be7f4);
@fade-193caeb6: var(--fade-193caeb6);
@fade-304ae92d: var(--fade-304ae92d);
@fade-5cff14c3: var(--fade-5cff14c3);
@fade-b4a0a1c1: var(--fade-b4a0a1c1);
@fade-ece660c0: var(--fade-ece660c0);
@fade-f865be76: var(--fade-f865be76);
@if-035e91c6: var(--if-035e91c6);
@if-038054cd: var(--if-038054cd);
@if-09b7c5a1: var(--if-09b7c5a1);
@if-0f08a484: var(--if-0f08a484);
@if-10618845: var(--if-10618845);
@if-190bbef8: var(--if-190bbef8);
@if-1b7f3b8b: var(--if-1b7f3b8b);
@if-1b7f3b8c: var(--if-1b7f3b8c);
@if-1b7f3b8d: var(--if-1b7f3b8d);
@if-1f2de522: var(--if-1f2de522);
@if-24167817: var(--if-24167817);
@if-249e30a5: var(--if-249e30a5);
@if-2db96ace: var(--if-2db96ace);
@if-30a3c04d: var(--if-30a3c04d);
@if-3105643b: var(--if-3105643b);
@if-3b6cb002: var(--if-3b6cb002);
@if-417fecde: var(--if-417fecde);
@if-4a0e097b: var(--if-4a0e097b);
@if-4ab14308: var(--if-4ab14308);
@if-4bc80e64: var(--if-4bc80e64);
@if-5905ebb4: var(--if-5905ebb4);
@if-5ac7f651: var(--if-5ac7f651);
@if-5bc80e62: var(--if-5bc80e62);
@if-6f85b072: var(--if-6f85b072);
@if-72f3068c: var(--if-72f3068c);
@if-7dea713b: var(--if-7dea713b);
@if-7f94f006: var(--if-7f94f006);
@if-8215301a: var(--if-8215301a);
@if-851d5a45: var(--if-851d5a45);
@if-8d03604f: var(--if-8d03604f);
@if-8e425bfe: var(--if-8e425bfe);
@if-91176f10: var(--if-91176f10);
@if-94dad415: var(--if-94dad415);
@if-9ad4a640: var(--if-9ad4a640);
@if-a8c57869: var(--if-a8c57869);
@if-ae6884db: var(--if-ae6884db);
@if-b2819be2: var(--if-b2819be2);
@if-b318da33: var(--if-b318da33);
@if-b3ce36b1: var(--if-b3ce36b1);
@if-ba47b56b: var(--if-ba47b56b);
@if-c1a0bfe3: var(--if-c1a0bfe3);
@if-c6c8bc62: var(--if-c6c8bc62);
@if-cb57bb52: var(--if-cb57bb52);
@if-cf579cbb: var(--if-cf579cbb);
@if-d2f31bc0: var(--if-d2f31bc0);
@if-d440a364: var(--if-d440a364);
@if-dc5cf808: var(--if-dc5cf808);
@if-dde4565a: var(--if-dde4565a);
@if-deaa6f9b: var(--if-deaa6f9b);
@if-e0e5aa9e: var(--if-e0e5aa9e);
@if-e33a6962: var(--if-e33a6962);
@if-e44576b0: var(--if-e44576b0);
@if-ea8983c1: var(--if-ea8983c1);
@if-ec44ba6b: var(--if-ec44ba6b);
@if-ed1f2135: var(--if-ed1f2135);
@if-ed914f1d: var(--if-ed914f1d);
@if-f1a3b180: var(--if-f1a3b180);
@if-f37627e5: var(--if-f37627e5);
@if-f57ecf46: var(--if-f57ecf46);
@if-f5e54611: var(--if-f5e54611);
@if-fa310009: var(--if-fa310009);
@if-v8c57865: var(--if-v8c57865);
@lighten-196d441a: var(--lighten-196d441a);
@lighten-27d70c85: var(--lighten-27d70c85);
@lighten-360db171: var(--lighten-360db171);
@lighten-37654577: var(--lighten-37654577);
@lighten-39320a59: var(--lighten-39320a59);
@lighten-49e49d58: var(--lighten-49e49d58);
@lighten-4d79a66d: var(--lighten-4d79a66d);
@lighten-4f1df671: var(--lighten-4f1df671);
@lighten-6a0cbe6d: var(--lighten-6a0cbe6d);
@lighten-76740698: var(--lighten-76740698);
@lighten-8b122426: var(--lighten-8b122426);
@lighten-919393a0: var(--lighten-919393a0);
@lighten-959ccfc9: var(--lighten-959ccfc9);
@lighten-9ae39279: var(--lighten-9ae39279);
@lighten-a006ac60: var(--lighten-a006ac60);
@lighten-c5da3167: var(--lighten-c5da3167);
@lighten-f6fb5849: var(--lighten-f6fb5849);
@main-bg: var(--main-bg);
@main-bg-dark: var(--main-bg-dark);
@primary-color: var(--primary-color);
@primary-color-dark: var(--primary-color-dark);
@secondary-color: var(--secondary-color);
@secondary-color-dark: var(--secondary-color-dark);
@sidebar-color: var(--sidebar-color);
@sidebar-color-dark: var(--sidebar-color-dark);
@navbar-color: var(--navbar-color);
@navbar-color-dark: var(--navbar-color-dark);
@sidebar-contrast-dark: var(--sidebar-contrast-dark);
@sidebar-contrast-dark2: var(--sidebar-contrast-dark2);
@sidebar-contrast-light: var(--sidebar-contrast-light);
@sidebar-contrast-light2: var(--sidebar-contrast-light2);
@widget-bg-dark: var(--widget-bg-dark);
@body-bg-color: var(--body-bg-color);
@body-bg-color-dark: var(--body-bg-color-dark);
@navbar-contrast-light: var(--navbar-contrast-light);
@notification-bg: var(--notification-bg);
@notification-text: var(--notification-text);
@notification-border: var(--notification-border);
@notification-bg-dark: var(--notification-bg-dark);

//need to be fix hex values
@text-color: #eeeeee;
@text-color-dark: #eeeeee;
