/* DARK MODE COLORS */

/* primary */
@info-color-dark:         @secondary-color-dark;             //before: #f39619;
@checkbox-color-dark:     @primary-color-dark;             //before: #f39619;
@progress-bar-dark:       @secondary-color-dark;             //before: #f39619;
@progress-bar-text-dark: @if-ea8983c1;
@config-message-bg-dark:  @fade-041bf36e;
@config-message-text-dark:@if-9ad4a640;
@gmsalert-error-text-dark: @if-5905ebb4;
@checkbox-check-color-dark: @if-e0e5aa9e;
@focus-color-dark:        @primary-color-dark;
@row-selected-dark:       @primary-color-dark;
@darker-primary-color-dark: @darken-0efbf01c; // before: #2e6da4;
@tabset-group-out-dark:   @if-8215301a; //merge #5ea7aa;
@tabset-group-out-hover-dark:   @if-72f3068c;
@pivot-presentation-uel-dark:  @darken-57c981c3; //merge #006F75;
@btn-bg-dark:             @if-deaa6f9b;

/* log */
//@log-tab-dark:            @console-text-color-dark;                //before: #3c8dbc;
//@log-text-dark:           @console-text-color-dark;                //before: #333;
//@log-border-dark:         @console-text-color-dark;                //before: #ccc;

@dropdown-sidebar-bg-dark:@sidebar-color-dark;
@dropdown-sidebar-border-dark: @if-1b7f3b8d;
@modal-bg-dark:           @main-bg-dark;                       //used in dygraph-legend (new) (before: #fff;?)
@sidebar-btn-border-dark: @sidebar-contrast-dark;

@table-row-even-dark:     @modal-bg-dark;                  //before: #f2f2f2;
@log-bg-dark:             @darken-d35a8f8e;     //before: #f5f5f5;

@highlight-bg-save-dark:  #4a614a;
@highlight-bg-delete-dark: @if-ba47b56b;//

@table-cell-color-dark:   @darken-41c1769c;
@table-row-odd-dark:      @table-cell-color-dark;//#4e545d;
@dt-row-odd-dark:         @table-row-odd-dark;
@dt-row-even-dark:        @table-row-even-dark;
@table-hover-dark:        @lighten-37654577;//#5f6771;
@dt-row-hover-dark:       @table-hover-dark;

//@widget-bg-dark:          #848991;
@checkbox-unchecked-dark: @widget-bg-dark;
@scrollbar-dark:          @widget-bg-dark;                //before: #c0c0c0;
@readme-preview-dark:     @if-f1a3b180;//#292D33;

@readme-preview-border-dark: #A9A9A9;
@btn-icon-color-dark:     #333;
@scrollbar-shadow-dark:   grey;                         //before: #c0c0c0;
@placeholder-color-dark:  #c9c9c9;                      //only for dark mode
@highlight-bg-dark:       @readme-preview-dark;
@gray-base-dark:          #fff;                         // from bootstrap variables
@or-sign-dark:            darken(@gray-base-dark, 93.5%);  //before: lighten(@gray-base, 93.5%);
@shiny-notification-dark: #070808;                      //new
@pivot-presentation-bg-dark:   @fade-ece660c0;
@logo-background-dark:    @if-d3bd34c4;// #222d32;  //config mode
@warning-bg-dark:         @if-dde4565a;

/* LIGHT MODE COLORS */
@log-tab:                 @primary-color;
@darker-primary-color:    @if-1f2de522;//#2e6da4;
@btn-bg:                  @if-b2819be2;//#337ab7;
@tabset-group-out:        @if-0f08a484;//#458fb8;                      //new - text color for output tabs in compare mode
@focus-color:             @if-e44576b0;//#66afe9; //!
@row-selected:            @if-ae6884db;//#acbad4; //!
@pivot-presentation-uel:  @if-30a3c04d;//#d8e0ec;
@highlight-bg:            @if-8e425bfe;//#ecf0f5; //!
@dropdown-sidebar-bg:     @sidebar-color;//#222d32; //!
@dropdown-sidebar-border: @if-1b7f3b8c;
@bt-highlight-2-bg:       @if-4ab14308;//#222d32; //@dropdown-sidebar-bg;

@log-bg:                  #f5f5f5;
@dt-row-odd:              #f9f9f9;
@table-row-even:          #f2f2f2;
@readme-preview:          #efefef;
@table-hover:             #ddd;
@log-border:              #ccc;
@pivot-presentation-bg:   #f1f1f18f;
@scrollbar:               #c0c0c0;
@scrollbar-shadow:        @scrollbar;

@btn-border:              #ADADAD;
@readme-preview-border:   @btn-border;
@or-sign:                 @btn-border;
@sidebar-btn-border:      @sidebar-contrast-light;

@background-color:        #fff;
@modal-bg:                @background-color;
@btn-icon-color:          @background-color;
@table-row-odd:           @background-color;
@dt-row-even:             @background-color;                  // before: #fff;
@logo-background:         @background-color;

@text-color:              #333;
@log-text:                @text-color;

@info-color:              @secondary-color;
@checkbox-color:          @primary-color;
@checkbox-check-color:    @if-7dea713b;
@progress-bar:            @secondary-color;
@progress-bar-text:       @if-6f85b072;
@config-message-bg:       @fade-193caeb6;
@config-message-text:     @if-fa310009;
@gmsalert-error-text:     @if-6f85b072;
@highlight-bg-save:       #d9f1d9;
@highlight-bg-delete:     @if-cf579cbb;//#ffd6d6;
@warning-bg:              @if-b318da33;

@import "../../8_miro/miro.less";
