.git
.env
.DS_Store
.gitignore
build/lib_devel
doc
src/examples
src/less
src/srcjs
src/packrat
src/tests
src/model
src/node_modules
dist
r
!r/library_src
r-src
server
!server/admin
server/admin/models
server/admin/node_modules
server/admin/data
server/admin/tests
server/admin/srcjs
server/admin/.eslintrc
server/admin/package.json
server/admin/webpack.config.js
server/admin/yarn.lock
server/admin/yarn-error.log
**/node_modules
**/.Rproj.user
**/venv
