.Rproj.user
.Rhistory
*.RData
.Ruserdata
packrat/lib*/
.Rprofile
logs
*.Rproj
*.dat
*.cmd
*.lst
*.log*
*.lxi
*.~gm
*.gpr
*.sqlite3
.matplotlib
tmp
tools/paver/examples
tools/paver/__pycache__
tools/paver/results
packrat/src/
doc/latest.ver
doc/schema.html
model/**/*.xlsx
model/**/*.miroconf
model/**/*.bat
model/**/*.gdx
model/**/runapp.R
tests/*_kport.R
tests/*_transport*.R
tests/*_pickstock*.R
