*.gz filter=lfs diff=lfs merge=lfs -text lockable
*.zip filter=lfs diff=lfs merge=lfs -text lockable
*.gif filter=lfs diff=lfs merge=lfs -text lockable
*.png filter=lfs diff=lfs merge=lfs -text lockable
*.pptx filter=lfs diff=lfs merge=lfs -text lockable
