variables:
  MIRO_DB_TYPE: postgres
  MIRO_DB_HOST: postgres
  MIRO_DB_NAME: mirotests
  MIRO_DB_USERNAME: mirotests
  MIRO_DB_PASSWORD: mirotests
  POSTGRES_DB: $MIRO_DB_NAME
  POSTGRES_USER: $MIRO_DB_USERNAME
  POSTGRES_PASSWORD: $MIRO_DB_PASSWORD
  POSTGRES_HOST_AUTH_METHOD: trust

stages:
  - test
  - deploy

services:
  - name: postgres:12.1-alpine

image:
  name: hub.gams.com:443/gamsmiro-ci:latest

lint_job:
  tags:
   - linux
  stage: test
  script:
   - pre-commit run --all-files
  variables:
    PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit
  cache:
    paths:
      - ${PRE_COMMIT_HOME}
  rules:
    - if: $CI_MERGE_REQUEST_ID
      when: always

test_job:
  tags:
    - linux
  stage: test
  before_script:
    - source /etc/profile.d/ci.sh
    - yarn install --cache-folder .yarn
  script:
    - yarn run eslint .
    - mchecklic
    - mtestall
  interruptible: true
  cache:
    paths:
      - node_modules/
      - .yarn
  artifacts:
    when: always
    reports:
      junit: src/tests/testthat/test-out.xml
    paths:
      - src/tests/logs-tests
    expire_in: 1 week
  rules:
    - if: $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: manual
    - if: $CI_MERGE_REQUEST_ID

update_doc_job:
  tags:
    - linux
  stage: deploy
  before_script:
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - rsync -rlptvz -e "ssh -o StrictHostKeyChecking=no" doc/* ubuntu@new.gams.com:/var/www/html/staging.gams.com/public_html/miro
  rules:
    - if: $CI_MERGE_REQUEST_ID
      when: always
    - when: manual
    - allow_failure: true
  needs: []
