.env
.Rproj.user
.Rhistory
.DS_Store
dump.rdb
*.RData
.Ruserdata
packrat/lib*/
__pycache__
.Rprofile
logs
*.Rproj
*.dat
*.cmd
*.lst
*.log*
*.lxi
*.~gm
*.gpr
*.sqlite3
.matplotlib
node_modules/
/build/lib_devel/
/dist/
/build/lib_devel
venv
/r/
