body {
    background-color: #e2e3e8;
    font-family: "montserratlight",sans-serif;
    margin: 0px;
    font-family: "montserratlight",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.428571429;
}
@media (prefers-color-scheme: dark) {
  html,
  body {
      color: #eeeeee;
      background-color: #292D33;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media screen and (min-width: 1600px) {
  .container {
      width: 1440px;
  }
}
@media screen and (min-width: 1600px) {
  .col-xxl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
.loading-screen {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.img-responsive {
  height: 200pt;
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
@media screen and (max-width: 767px) {
  .navbar-collapse.collapse.in > .navbar-right {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.navbar-handle-wrapper{
  height: 50px;
  right: 173px;
  position: absolute;
}
.navbar-handle{
  width: 60px;
  height: 100%;
  margin-left: auto;
  font-size: 26px;
  text-align: center;
  border: 1px solid #eee;
  border-top: none;
  border-bottom: none;
}
.user-custom-wrapper{
  position: relative;
}
.user-custom{
  max-width: 30%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(75%);
  -ms-transform: translateY(75%);
  transform: translateY(75%);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.load-app-error{
  position:relative;
  top:50%;
  width:100%;
  text-align:center;
  display:none;
  color:#fff;
}
.app-wrapper {
    position: relative;
    display: flex;
    box-sizing: border-box;
    font-family: montserratregular,'Open Sans',sans-serif;
    font-size: 14px;
}
.app-box {
    margin: 65px auto;
    margin-bottom: 32.5px;
    padding: 45px 30px;
    background: #fff;
    position: relative;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background-clip: padding-box;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25), 0 2px 10px 0 rgba(0,0,0,0.20);
}
@media (prefers-color-scheme: dark) {
  .app-box {
    background: #393e46;
    border-color: #393e46;
  }
}
.app-box-fixed-height {
    height: 500px;
}
.app-box-hover:hover {
    cursor: text;
    background-color: #fffefc;
    box-shadow: 0 2px 4px 0 #ff99005c, 0 2px 10px 0 #ff990040;
    transition: box-shadow .15s ease-in-out, background-color .15s linear;
}
@media (prefers-color-scheme: dark) {
  .app-box-hover:hover {
    background: #54565d;
  }
  .nav-tabs .nav-link.active {
    color: #eeeeee;
    background: #393e46;
  }
}
.app-logo {
  height:180px;
  display:block;
  margin:auto;
  padding: 55px 20px;
  background-size:cover;
  text-align:center;
}
.app-title {
  max-height: 35px;
}
.app-desc {
  max-height: 65px;
}
.app-title,
.app-desc {
  overflow: hidden;
  text-align: left;
}
.app-title-fixed {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.app-desc-fixed {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.btn-launch-wrapper {
    text-align: right;
    height:60px;
}
.btn-launch {
    background-color: #f90;
    text-shadow: none;
    border: none;
    color: #494d55;
    width: 100%;
    height: 100%;
    font-size: large;
    position: absolute;
    line-height:2.5;
    bottom: 0;
    left: 0;
}
.btn-launch:hover,
.btn-launch:active,
.btn-launch:focus {
    background-color: #e18d0f !important;
    color: #494d55 !important;
}
.btn-navbar {
    background-color: #f90;
    text-shadow: none;
    border: none;
    color: #494d55;
}
.btn-navbar:hover,
.btn-navbar:active,
.btn-navbar:focus {
    background-color: #e18d0f !important;
    color: #494d55 !important;
}
.doc-wrapper .container, .cards-section .container{
    padding: 70px 50px;
    margin-bottom:45px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
    webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
}
@media (prefers-color-scheme: dark) {
  .doc-wrapper .container, .cards-section .container{
      background: #393e46;
  }
}
.page-wrapper{
  font-family: montserratregular,'Open Sans',sans-serif;
  color: #494d55;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #e5e7ee;
  margin: 0px;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -131px;
}
.page-wrapper:after {
  content: "";
  display: block;
  /* height: 200px; */
}
p {
  line-height: 1.5;
}
a {
  color: #f90;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #616670;
}
a:focus {
  text-decoration: none;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-weight: 600;
}
.btn .svg-inline--fa,
a.btn .svg-inline--fa {
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.btn-primary,
a.btn-primary {
  background: #f90;
  border: 1px solid #616670;
  color: #fff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.hover,
a.btn-primary:hover,
a.btn-primary:focus,
a.btn-primary:active,
a.btn-primary.active,
a.btn-primary.hover {
  background: #616670;
  color: #fff !important;
  border: 1px solid #f90;
}
.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 40px;
  border-color: #f0f0f0;
}
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #afb3bb;
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #afb3bb;
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #afb3bb;
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #afb3bb;
}
.form-control:focus {
  border-color: #e3e3e3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"],
textarea,
select {
  appearance: none;
  /* for mobile safari */
  -webkit-appearance: none;
}
.sub-header {
  background: #494d55;
  color: rgba(255, 255, 255, 0.85);
  padding: 30px 0;
  max-width: 1400px;
  border-bottom: 7px solid #f90;
  margin-left: auto;
  margin-right: auto;
}
#header {
  max-width: 1200px;
}
.sub-header a {
  color: #fff;
}
.branding {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.branding .logo {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 0;
}
.branding .logo a {
  text-decoration: none;
}
.branding .logo img {
  max-height:100px;
}
.branding .text-highlight {
  color: #fff;
}
.branding .text-bold {
  font-weight: 800;
  color: #f90;
}
.branding .icon {
  font-size: 24px;
  color: #40babd;
}
.footer {
  background: #26282c;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 0;
}
.footer a {
  color: #f90;
}
.footer .fa-heart {
  color: #f90;
}
.doc-wrapper {
  padding: 45px 0;
  background: #e5e7ee;
}
.doc-body {
  position: relative;
}
.doc-header {
  margin-bottom: 30px;
}
.doc-header .doc-title {
  color: #f90;
  margin-top: 0;
  font-size: 36px;
}
.doc-header .icon {
  font-size: 30px;
}
.doc-header .meta {
  color: #a2a6af;
}
.section-block {
  padding-top: 15px;
  padding-bottom: 15px;
}
.section-block .block-title {
  margin-top: 0;
}
.section-block .list > li {
  margin-bottom: 10px;
}
.section-block .list ul > li {
  margin-top: 5px;
}
.table > thead > tr > th {
  border-bottom-color: #ff9900;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f5f5f5;
}
@media (prefers-color-scheme: dark) {
  .table-hover>tbody>tr:hover {
     background-color: #292D33;
  }
}
.cards-section {
  margin-top:50px;
}
@media (max-width: 767.98px) {
  .cards-section .item-inner {
    padding: 30px 15px;
  }
}
.navbar-nav .active,
.navbar-nav .active:hover {
  background-color: #000 !important;
  color: #fff !important;
}
.no-apps-container {
  text-align:center;
  margin-top: 200px;
  display:none;
}
