services:
  doc:
    build: ./
    environment:
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_SERVER=${MAIL_SERVER}
    restart: always
    ports:
      - "7654:5000"
    volumes:
      - type: bind
        source: ./data
        target: /home/mirodoc/data
      - type: bind
        source: ./data/logos
        target: /home/mirodoc/app/static/images/gallery
