/* global variables */
@primary-color:     #000000;
@log-color:         #000000;
@gams-color:        #000000;
@remove-color:      #000000;
@sidebar-bg:        #fff;
@main-bg:           #fff; // background in dialogs, tables, ... body-bg is calculated from primary-color (since default main-bg is white)

@primary-color-dark:#000000;
@log-color-dark:    #000000;
@gams-color-dark:   #000000;
@remove-color-dark: #000000;
@sidebar-bg-dark:   #1d2121; //hsl(hue(@primary-color-dark), 6%, 12%);//#1d2121;
@main-bg-dark:      #393e46; //from main-bg-dark also the body-bg is calculated (only in dark mode)
@widget-bg-dark:    #848991; //only in dark mode

@import "../variables/global_variables.less";

/* do not change */
@text-color:        #eee;
@text-color-dark:   #eee;
