/* general */
body{
  font-family: "Helvetica", Times, "Times New Roman", serif;
}
.btn-default{
  border: 2px solid #ADADAD;
  background-color: #FFF;
  background-color: rgba(0,0,0,0);
  transition: all 500ms ease; 
}
.err-msg, .config-array-err{
  margin: 5px;
  color: #F39619;
  font-weight: bold;
}
.flex-design{
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
}
.ttip {
    position: relative;
    text-decoration: underline;
    text-decoration: underline dotted #000;
}
.ttip span {
    visibility: hidden;
    position: absolute;
    z-index: 999;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: #ffffff;
    background: #000000;
    opacity: 0.9;
    bottom: 70%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}
.ttip:hover span {
    visibility: visible;
}
.ttip span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0; 
    height: 0;
    margin-left: -5px;
    border-top: 5px solid #000000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
/* custom alerts */
.gmsalert{
  position:absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  max-width: 400px;
  display:none;
  font-weight: 600;
  padding: 15px;
  z-index:999;
  border: 1px solid #000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.gmsalert-success{
  color: #fff;
  background-color: #3c8dbc;
}
.gmsalert-error{
  background-color: #F39619;
}
.invalidInput{
  border: 2px solid #F39619;
}
/* title field in boxes */
.box-title{
  width: 100%;
  overflow:hidden;
  text-overflow: ellipsis;
}
.inline-el{
  display: inline;
}
.progress-bar{
  background-color: #F39619;
}
.no-animations {
-webkit-animation: none !important;
-moz-animation: none !important;
-o-animation: none !important;
-ms-animation: none !important;
animation: none !important;
}
.loading-input {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -16px;  /* half of the spinner's height */
  margin-left: -16px; /* half of the spinner's width */
}
.loading-input-l {
  position: absolute;
  left: 25%;
  top: 50%;
}
.loading-input-r {
  position: absolute;
  left: 75%;
  top: 50%;
}
.datepicker{
  /* bring datepicker menu to the front */
  z-index: 9999 !important;
}
.label-class{
  cursor: default;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.control-label{
  width: 100%;
}
.attachment-line .shiny-input-container{
  margin:0;
}
.attachment-line .checkbox{
  margin: 5px;
}
/* header */
.main-header .logo {
  background-size: cover;
  background-repeat:no-repeat;
  font-size: 0;
}
.skin-black .main-header .logo {
  background-color:#fff;
}
/* sidebar*/
.bt-highlight-1{
  border: 2px solid #F39619;
}
.bt-highlight-2{
  border: 2px solid #F39619;
  background-color: #222d32;
  background-color: rgba(0,0,0,0);
  color: #fff;
  transition: all 500ms ease; 
}
.bt-highlight-2:hover{
  border: 2px solid #ADADAD;
}
.bt-highlight-3{
  border: 2px solid #ADADAD;
  background-color: #222D32;
  background-color: rgba(0,0,0,0);
  color: #fff;
  transition: all 500ms ease; 
}
.bt-highlight-3:hover{
  border: 2px solid #F39619;
}
.bt-remove{
  border: 2px solid #d11a2a;
}
/* model input */
.bt-icon{
  padding: 0;
  border: none;
  background-color: inherit !important;
}
.bt-icon:hover, .bt-icon:active{
  background-color: inherit !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes glow{
  from {box-shadow: none;}
  to {
    box-shadow: 0 0 20px 11px rgba(243,150,25, 0.6);
	  background-color: rgb(244, 244, 244);
    background-color: rgba(244, 244, 244, 0.85);
  }
}
@keyframes glow{
  from {box-shadow: none;}
  to {
    box-shadow: 0 0 20px 11px rgba(243,150,25, 0.6);
	  background-color: rgb(244, 244, 244);
    background-color: rgba(244, 244, 244, 0.85);
  }
}
.glow-animation {
  -webkit-animation-name: glow; 
  -webkit-animation-duration: 800ms;  
  -webkit-animation-timing-function: ease-out;  
  -webkit-animation-delay: 3s; 
  -webkit-animation-iteration-count: 6;  
  -webkit-animation-direction: alternate; 
  -moz-animation-name: glow; 
  -moz-animation-duration: 800ms;  
  -moz-animation-timing-function: ease-out;  
  -moz-animation-delay: 3s; 
  -moz-animation-iteration-count: 6;  
  -moz-animation-direction: alternate;
  animation-name: glow;
  animation-duration: 800ms; 
  animation-timing-function: ease-out;
  animation-delay: 3s;
  animation-iteration-count: 6;  
  animation-direction: alternate;
}

.in-data-header{
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 35px;
}
.in-buttons-wrapper{
  position: absolute;
  margin-right: 10px;
  right: 0;
}
.in-no-data-dep{
  margin    : 5px;
  text-align: center;
}
.choose-input{ 
  min-height: 80px;
}
/* gams interaction */
#logStatus, #listFile{
  overflow:auto;
  min-height: 400px;
  max-height: 60vh;
}
/* model output*/
.out-buttons-wrapper{
  position: absolute;
  right: 15px;
}
.pvtRows, .pvtCols { 
  background: #DCDCDC none repeat scroll 0 0; 
}
.initErrors{
  color:#f00;
  font-weight:bold;
  font-size:14pt;
}
.out-no-data{
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
}
.shiny-output-error { 
  visibility: hidden; 
}
.shiny-output-error:before {
  visibility: hidden; 
}
.render-output{
  padding: 1px;
  overflow-x: auto;
  overflow-y: auto;
}
.modal-lg{ 
  width: 90%;
}
.space{
  height:3vh;
}
.small-space{
  height:1vh;
}
/* scen */
#no-scen {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
}
.scen-header{
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 37px;
}
.scen-buttons-wrapper{
  position: absolute;
  right: 5px;
}
.scen-date-wrapper{
  position: absolute;
  margin-top: 4px;
  font-size: 9pt;
  left: 5px;
}
.scen-button, .scen-button:focus{
  color: #fff; 
  background-color: #337ab7; 
  border-color: #2e6da4;
}
#scen-split-view .col-sm-6{
  padding-right: 5px;
  padding-left: 5px;
}
.split-open{
  display: table; 
  table-layout: fixed;
  width: 100%;
}
.split-open-cell{
  display:table-cell;
}
.scenSplit-button-load{
  height: 400px;
  width: 100%;
  font-size: 15pt;
  background-color: inherit;
}
/* scnario button tooltips */
.scen-button-tt{
  display: inline;
}
.scen-sort-by, .scen-sort-by:focus, .scen-sort-by:hover, .scen-sort-by:active{
  font-size: 12px;
  border: 1px solid #fff;
  background: none;
}

.scen-sort-by-selected, .scen-sort-by-selected:hover, .scen-sort-by-selected:focus, .scen-sort-by-selected:active{
  border: 1px solid #555555;
}
/* material checkboxes */
.cb-label{
    display: inline;
    cursor: pointer;
}
.checkbox-material .checkbox{
    display: inline-block;
    line-height: 1;
}

.checkbox-material .checkbox input {
    opacity: 0;
}
.checkbox-material .checkbox input[disabled] + span {
    opacity: 0.5;
}
.checkbox-material .checkbox span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: .15em 1.5em .15em .15em;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    border-radius: 1em;
    background-color: gray;
    overflow: hidden;
}
.checkbox-material .checkbox span::before {
    display: block;
    content: '';
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background: white;
}

.checkbox-material .checkbox span::after {
  position: absolute;
  display: block;
  text-transform: uppercase;
  font-size: .5em;
  font-style: normal;
  top: 0;
  color: #fff;
  line-height: 1;
  left: 0;
  padding-left: 2em;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  height: 1em;
  bottom: 0;
  margin: auto;
}

.checkbox-material .checkbox :checked + span::after {
  padding-left: 0;
  padding-right: 2em;
}

.checkbox-material .checkbox :checked + span {
    padding-right: .15em;
    padding-left: 1.5em;
    background-color: #F39619;
}
.checkbox-material .shiny-input-container {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 75px;
  margin: 0;
}
.checkbox-material {
  cursor: pointer;
  align-items: center;
}
.dygraph-legend > span.highlight{
  display: inline;
  border: 2px solid grey;
}
/* Hypercube module */
.centered-div{
  text-align:center;
  font-size:20px;
  margin-top:25%;
}
.centered-div button {
   padding : 10px;
   margin-left: auto;
   margin-right: auto;
   display: block;
}
.grid-container {
  grid-template-columns: 325px 150px 325px 75px;
  grid-gap: 5px;
  padding: 5px;
}
.grid-container > div {
  text-align: center;
  font-size: 16px;
}
.grid-SelectorsWrapper {
  grid-column-start: 1;
  grid-column-end: 4;
}
.grid-ButtonsWrapper {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  padding-top: 15px;
  padding-bottom: 15px;
}
.item-line {
  grid-template-columns: 325px 150px 325px 75px;
  grid-template-rows: 40px;
  grid-gap: 5px;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
}
.item-name {
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: start;
  text-align: left;
}
.item-scen-drop {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: start;
}
.item-search-crit {
  grid-column-start: 3;
  grid-column-end: 4;
  align-self: start;
}
.item-delete {
  text-align: right;
}
.item-add-block{
  display: grid;
  grid-template-columns: 75px 250px 605px;
  grid-template-rows: 50px;
  align-self: center;
}
.item-and{
  grid-column-start: 1;
  grid-column-end: 2;
}
.item-dropdown {
  grid-column-start: 2;
  grid-column-end: 3;
}
.item-or-query{
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 15px;
  margin-bottom: 25px;
}
.cJob-wrapper {
  width: 100%;
  border-collapse: collapse;
}
.cJob-wrapper td, .cJob-wrapper th {
  text-align: center;
  padding: 10px;
}
.cJob-wrapper tr:nth-child(even){
  background-color: #f2f2f2;
}
.cJob-wrapper tr:hover {
  background-color: #ddd;
}
.cJob-wrapper th {
  border-bottom: 2px solid #000;
  background: #fff;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 15px;
}
.cJob-wrapper .form-group {
  margin: 0;
}
/* loading spinner (https://loading.io/css/)*/
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
/* bring plotly charts to front */
.plotly {
  z-index: 22;
  position: relative; 
}
/* PAVER */
.dataframe { 
  text-align: right; 
  font-size: 12px; 
  border: 1px; 
  border-collapse: collapse;
}
.block {
  background:#f0f0f0; 
  padding:10px;
  border: 1px solid #c2c2c2;
}
/* admin mode */
.option-section{
  margin-left:20px;
}