/* global variables */
@primary-color: var(--primary-color);
@body-bg: var(--body-bg);
@main-bg: var(--main-bg);
@login-header-bg: var(--login-header-bg);

@primary-color-dark: var(--primary-color-dark);
@main-bg-dark: var(--main-bg-dark);
@login-header-bg-dark: var(--login-header-bg-dark);
@body-bg-dark: var(--body-bg-dark);

@primary-color-focus: color-mix(in srgb, var(--primary-color) 85%, black 15%);
@primary-color-focus-dark: color-mix(in srgb, var(--primary-color-dark) 85%, black 15%);

/* fix */
@btn-text: #eee;
@btn-text-dark: #fff;
