/* loading spinner (https://loading.io/css/)*/
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
#miro-license {
  max-height: 800px;
  max-height: 80vh;
  overflow: auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
/*
* Gifplayer v0.3.4
* Customizable jquery plugin to play and stop animated gifs. Similar to 9gag's
* (c)2014 Rub�n Torres - rubentdlh@gmail.com
* Released under the MIT license
*/
  /*
 * Template Name: PrettyDocs - Bootstrap 4 Template for documentations
 * Version: 2.0
 * Author: Xiaoying Riley
 * Copyright: 3rd Wave Media
 * Twitter: @3rdwave_themes
 * License: Creative Commons Attribution 3.0 License
 * Website: http://themes.3rdwavemedia.com/
*/
  /* ======= Base ======= */
  /* ====== Header ====== */
  /* ====== Footer ====== */
  /* ======= Doc Styling ======= */
  /* Color Schemes */
  /* Sidebar */
  /*
.affix-top {
  position: absolute;
  top: 15px;
}

.affix {
  top: 15px;
}

.affix,
.affix-bottom {
  width: 230px;
}

.affix-bottom {
  position: absolute;
}
*/
  /* ===== Promo block ===== */
  /* Extra small devices (phones, less than 768px) */
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 1075px and up) */
  /* Large devices (large desktops, 1200px and up) */
  /* ======= Landing Page ======= */
.doc-wrapper .container, .cards-section .container{
    padding: 70px 50px;
    margin-bottom:45px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
    webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
}
.page-wrapper .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.page-wrapper .search-box-wrapper {
  margin-top:-20px;
  position:relative;
}
.page-wrapper .search-box {
  background: url(../plugins/elegant_font/images/SVG/icon_search2.svg) no-repeat scroll 11px 8px;
  padding-left:40px;
  padding-right:0;
  background-size:20px;
  border-color: #000!important;
  width: 30px;
}
.page-wrapper #miroSearchResults {
  position: absolute;
  max-width:500px;
  z-index: 999;
  right:0;
  display: none;
}
@media (min-width: 992px) {
  .page-wrapper #miroSearchResults {
    width:500px;
  }
}
.page-wrapper #miroSearchResults em {
  background-color: #f0ad4e;
}
.page-wrapper #miroSearchResults a {
  color: #495057;
}
.page-wrapper mark {
  background-color: #f0ad4e;
}
.page-wrapper .form-group input {
  width: 100%;
}
.page-wrapper .upload-btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}
.page-wrapper .upload-btn-small {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 4px;
  font-weight: bold;
}
.page-wrapper .configgen-reset-btn {
  border: 2px solid gray;
  color: gray;
  margin: 5px;
  background-color: white;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 14px;
}
.page-wrapper .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.page-wrapper .alpaca-popup-image img {
  display: none;
}
.page-wrapper .alpaca-popup-image .fa-info-circle:hover + img {
  position: absolute;
  z-index: 1000;
  display: block;
}
.page-wrapper ins.play-gif {
  position: absolute;
  font-family: Arial, sans serif;
  width: 50px;
  height: 50px;
  line-height: 52px;
  text-align: center;
  background: #222;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
  opacity: .9;
  border: 4px solid #fff;
  cursor: pointer;
  text-decoration: none;
}
.page-wrapper ins.play-gif:hover {
  opacity: .5;
}
.page-wrapper .gifplayer-wrapper {
  position: relative;
  display: inline-block;
}
.page-wrapper .spinner {
  height: 50px;
  width: 50px;
  margin: 0px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 6px solid rgba(255, 255, 255, 0.15);
  border-right: 6px solid rgba(255, 255, 255, 0.15);
  border-bottom: 6px solid rgba(255, 255, 255, 0.15);
  border-top: 6px solid rgba(255, 255, 255, 0.8);
  border-radius: 100%;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
body{
  margin: 0px;
  font-family: "montserratlight",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.428571429;
  background-color: #fff;
}
.page-wrapper{
  font-family: montserratregular,'Open Sans',sans-serif;
  color: #494d55;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0px;
  min-height: 100%;
}
.page-wrapper .code {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  display: inline-block;
  vertical-align:middle;
  max-width:100%;
  overflow:auto;
}
.page-wrapper .key {
  border: 1px solid #000;
  display: inline-block;
  text-align: center;
  width: 25px;
}
.page-wrapper p {
  line-height: 1.5;
}
.page-wrapper a {
  color: #f90;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.page-wrapper a:hover {
  text-decoration: underline;
  color: #616670;
}
.page-wrapper a:focus {
  text-decoration: none;
}
.page-wrapper code {
  font-size: 14px;
  font-weight: bold;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  padding: 2px 8px;
  padding-top: 4px;
  display: inline-block;
  vertical-align:middle;
  max-width:100%;
  overflow:auto;
}
.page-wrapper .btn,
.page-wrapper a.btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}
.page-wrapper .btn .svg-inline--fa,
.page-wrapper a.btn .svg-inline--fa {
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.page-wrapper .btn-primary,
.page-wrapper a.btn-primary {
  background: #f90;
  border: 1px solid #616670;
  color: #fff !important;
}
.page-wrapper .btn-primary:hover,
.page-wrapper .btn-primary:focus,
.page-wrapper .btn-primary:active,
.page-wrapper .btn-primary.active,
.page-wrapper .btn-primary.hover,
.page-wrapper a.btn-primary:hover,
.page-wrapper a.btn-primary:focus,
.page-wrapper a.btn-primary:active,
.page-wrapper a.btn-primary.active,
.page-wrapper a.btn-primary.hover {
  background: #616670;
  color: #fff !important;
  border: 1px solid #f90;
}
.page-wrapper .btn-blue,
.page-wrapper a.btn-blue {
  background: #494d55;
  border: 1px solid #494d55;
  color: #fff !important;
}
.page-wrapper .btn-blue:hover,
.page-wrapper .btn-blue:focus,
.page-wrapper .btn-blue:active,
.page-wrapper .btn-blue.active,
.page-wrapper .btn-blue.hover,
.page-wrapper a.btn-blue:hover,
.page-wrapper a.btn-blue:focus,
.page-wrapper a.btn-blue:active,
.page-wrapper a.btn-blue.active,
.page-wrapper a.btn-blue.hover {
  background: #41b2ec;
  color: #fff !important;
  border: 1px solid #41b2ec;
}
.page-wrapper .btn-orange,
.page-wrapper a.btn-orange {
  background: #f90;
  border: 1px solid #f90;
  color: #fff !important;
}
.page-wrapper .btn-orange:hover,
.page-wrapper .btn-orange:focus,
.page-wrapper .btn-orange:active,
.page-wrapper .btn-orange.active,
.page-wrapper .btn-orange.hover,
.page-wrapper a.btn-orange:hover,
.page-wrapper a.btn-orange:focus,
.page-wrapper a.btn-orange:active,
.page-wrapper a.btn-orange.active,
.page-wrapper a.btn-orange.hover {
  background: #f77e17;
  color: #fff !important;
  border: 1px solid #f77e17;
}
.page-wrapper .btn-cta {
  padding: 7px 15px;
}
.page-wrapper .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 40px;
  border-color: #f0f0f0;
}
.page-wrapper .form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #afb3bb;
}
.page-wrapper .form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #afb3bb;
}
.page-wrapper .form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #afb3bb;
}
.page-wrapper .form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #afb3bb;
}
.page-wrapper .form-control:focus {
  border-color: #e3e3e3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.page-wrapper input[type="text"],
.page-wrapper input[type="email"],
.page-wrapper input[type="password"],
.page-wrapper input[type="submit"],
.page-wrapper input[type="button"],
.page-wrapper textarea,
.page-wrapper select {
  appearance: none;
  /* for mobile safari */
  -webkit-appearance: none;
}
.page-wrapper .sub-header {
  background: #494d55;
  color: rgba(255, 255, 255, 0.85);
  padding: 10px 0;
  max-width: 1400px;
  border-bottom: 7px solid #f90;
  margin-top: 1rem!important;
  margin-left: auto;
  margin-right: auto;
}
#headerVid {
  display:none;
}
#videoOverlay {
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .page-wrapper .sub-header .video-container {
    padding-top:40.42%;
    margin:0;
    max-width:inherit;
    padding-left:0;
    padding-right:0;
  }
  #headerVid {
    width:inherit;
    display:block;
    margin:auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  #videoOverlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: inherit;
    z-index:2;
  }
}
.page-wrapper #header {
  max-width: 1200px;
}
.page-wrapper .sub-header a {
  color: #fff;
}
.page-wrapper .branding {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.page-wrapper .branding .logo {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 0;
}
.page-wrapper .branding .logo a {
  text-decoration: none;
}
.page-wrapper .branding .text-highlight {
  color: #fff;
}
.body-blue .page-wrapper .branding .text-highlight {
  color: #fff;
}
.body-orange .page-wrapper .branding .text-highlight {
  color: #fff;
}
.page-wrapper .branding .text-bold {
  font-weight: 800;
  color: #f90;
}
.page-wrapper .branding .icon {
  font-size: 24px;
  color: #40babd;
}
.body-blue .page-wrapper .branding .icon {
  color: #f90;
}
.body-orange .page-wrapper .branding .icon {
  color: #f90;
}
.page-wrapper .breadcrumb {
  background: none;
  margin-bottom: 0;
  padding: 0;
}
.page-wrapper .breadcrumb li {
  color: rgba(255, 255, 255, 0.5);
}
.page-wrapper .breadcrumb li.active {
  color: rgba(255, 255, 255, 0.5);
}
.page-wrapper .breadcrumb li a {
  color: rgba(255, 255, 255, 0.5);
}
.page-wrapper .breadcrumb li a:hover {
  color: #fff;
}
.page-wrapper .breadcrumb > li + li:before {
  color: rgba(0, 0, 0, 0.4);
}
.page-wrapper .footer {
  background: #26282c;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 0;
}
.page-wrapper .footer a {
  color: #f90;
}
.page-wrapper .footer .fa-heart {
  color: #f90;
}
.page-wrapper .doc-wrapper {
  padding: 45px 0;
}
.page-wrapper .doc-wrapper [id]::before {
  display: block;
  content: " ";
  margin-top: -80px; /* header offset */
  height: 80px;
  visibility: hidden;
  pointer-events: none;
}
.page-wrapper .doc-wrapper a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}
.page-wrapper .doc-body {
  position: relative;
}
.page-wrapper .doc-header {
  margin-bottom: 30px;
}
.page-wrapper .doc-header .doc-title {
  color: #f90;
  margin-top: 0;
  font-size: 36px;
}
.body-blue .page-wrapper .doc-header .doc-title {
  color: #494d55;
}
.body-orange .page-wrapper .doc-header .doc-title {
  color: #f90;
}
.page-wrapper .doc-header .icon {
  font-size: 30px;
}
.page-wrapper .doc-header .meta {
  color: #a2a6af;
}
.page-wrapper .doc-section {
  padding-top: 15px;
  padding-bottom: 15px;
}
.page-wrapper .doc-section .section-title {
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d6d6;
  color: #f90;
}
.page-wrapper .doc-section h1 {
  font-size: 24px;
  font-weight: bold;
}
.page-wrapper .doc-section h2 {
  font-size: 22px;
  font-weight: bold;
}
.page-wrapper .doc-section h3 {
  font-size: 20px;
  font-weight: bold;
}
.page-wrapper .doc-section h4 {
  font-size: 18px;
  font-weight: bold;
}
.page-wrapper .doc-section h5 {
  font-size: 16px;
  font-weight: bold;
}
.page-wrapper .doc-section h6 {
  font-size: 14px;
  font-weight: bold;
}
.page-wrapper .section-block {
  padding-top: 15px;
  padding-bottom: 15px;
}
.page-wrapper .section-block .block-title {
  margin-top: 0;
}
.page-wrapper .section-block .list > li {
  margin-bottom: 10px;
}
.page-wrapper .section-block .list ul > li {
  margin-top: 5px;
}
.page-wrapper .question {
  font-weight: 400 !important;
  color: #3aa7aa;
}
.body-blue .page-wrapper .question {
  color: #494d55;
}
.body-orange .page-wrapper .question {
  color: #f77e17;
}
.page-wrapper .question .svg-inline--fa {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  position: relative;
  top: -2px;
}
.page-wrapper .question .badge {
  font-size: 11px;
  vertical-align: middle;
}
.page-wrapper .answer {
  color: #616670;
}
.page-wrapper .code-block {
  margin-top: 30px;
  margin-bottom: 30px;
}
.page-wrapper .callout-block {
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  margin-bottom: 30px;
}
.page-wrapper .callout-block a {
  color: rgba(0, 0, 0, 0.55);
}
.page-wrapper .callout-block a:hover {
  color: rgba(0, 0, 0, 0.65) !important;
}
.page-wrapper .callout-block .icon-holder {
  font-size: 30px;
  position: absolute;
  left: 30px;
  top: 30px;
  color: rgba(0, 0, 0, 0.25);
}
.page-wrapper .callout-block .content {
  margin-left: 60px;
}
.page-wrapper .callout-block .content p:last-child {
  margin-bottom: 0;
}
.page-wrapper .callout-block .callout-title {
  margin-top: 0;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.65);
}
.page-wrapper .callout-info {
  background: #58bbee;
  color: #fff;
}
.page-wrapper .callout-success {
  background: #f9f9fb;
  color: #000;
  border-left: 5px solid #75c181;
}
.page-wrapper .callout-success .icon-holder,
.page-wrapper .callout-success .callout-title{
  color: #75c181;
}
.page-wrapper .callout-warning {
  background: #f9f9fb;
  color: #000;
  border-left: 5px solid #f90;
}
.page-wrapper .callout-warning .icon-holder,
.page-wrapper .callout-warning .callout-title{
  color: #f90;
}
.page-wrapper .callout-danger {
  background: #f77b6b;
  color: #fff;
}
.page-wrapper .table > thead > tr > th {
  border-bottom-color: #8bd6d8;
}
.body-blue .page-wrapper .table > thead > tr > th {
  border-bottom-color: #494d55;
}
.body-orange .page-wrapper .table > thead > tr > th {
  border-bottom-color: #fbc393;
}
.page-wrapper .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f5f5f5;
}
.page-wrapper .screenshot-holder {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
}
.page-wrapper .screenshot-holder img {
  border: 1px solid #f0f0f0;
}
.page-wrapper .screenshot-holder .mask {
  display: block;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-decoration: none;
}
.page-wrapper .screenshot-holder .mask .svg-inline--fa {
  color: #fff;
  font-size: 42px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
}
.page-wrapper .screenshot-holder:hover .mask {
  visibility: visible;
}
.page-wrapper .jumbotron h1 {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 30px;
}
.page-wrapper .author-profile {
  margin-top: 30px;
}
.page-wrapper .author-profile img {
  width: 100px;
  height: 100px;
}
.page-wrapper .speech-bubble {
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
}
.page-wrapper .speech-bubble .speech-title {
  font-size: 16px;
}
.page-wrapper .jumbotron .speech-bubble p {
  font-size: 14px;
  font-weight: normal;
  color: #616670;
}
.page-wrapper .speech-bubble:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
.page-wrapper .theme-card {
  text-align: center;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  height: 100%;
}
.page-wrapper .theme-card .card-block {
  padding: 15px;
}
.page-wrapper .theme-card .mask {
  display: block;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-decoration: none;
}
.page-wrapper .theme-card .mask .icon {
  color: #fff;
  font-size: 42px;
  margin-top: 25%;
}
.page-wrapper .theme-card:hover .mask {
  visibility: visible;
}
.body-blue .page-wrapper a {
  color: #f90;
}
.body-blue .page-wrapper a:hover {
  color: #494d55;
}
.body-orange .page-wrapper a {
  color: #f90;
}
.body-orange .page-wrapper a:hover {
  color: #494d55;
}
.page-wrapper .doc-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-wrapper .sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}
.page-wrapper .doc-menu {
  list-style: none;
}
.page-wrapper .doc-menu .nav-link {
  margin-bottom: 5px;
  display: block;
  padding: 5px 15px;
  color: #616670;
}
.page-wrapper .doc-menu .nav-link:hover,
.page-wrapper .doc-menu .nav-link:focus {
  color: #494d55;
  text-decoration: none;
  background: none;
}
.page-wrapper .doc-menu .nav-link.active {
  background: none;
  color: #40babd;
  font-weight: 600;
}
.body-blue .page-wrapper .doc-menu .nav-link.active {
  color: #f90;
  border-color: #f90;
}
.body-orange .page-wrapper .doc-menu .nav-link.active {
  color: #f90;
  border-color: #f90;
}
.page-wrapper .doc-sub-menu {
  list-style: none;
  padding-left: 0;
}
.page-wrapper .doc-sub-menu .nav-link {
  margin-bottom: 10px;
  font-size: 12px;
  display: block;
  color: #616670;
  padding: 0;
  padding-left: 34px;
  background: none;
}
.page-wrapper .doc-sub-menu .sub-sub-menu .nav-link {
  padding-left: 55px;
  margin-bottom: 5px;
}
.page-wrapper .doc-sub-menu .has-sub-sub {
    margin-bottom: 0;
}
.page-wrapper .doc-sub-menu .nav-link:first-child {
  padding-top: 5px;
}
.page-wrapper .doc-sub-menu .nav-link:hover {
  color: #494d55;
  text-decoration: none;
  background: none;
}
.page-wrapper .doc-sub-menu .nav-link:focus {
  background: none;
}
.page-wrapper .doc-sub-menu .nav-link.active {
  background: none;
  color: #40babd;
}
.body-blue .page-wrapper .doc-sub-menu .nav-link.active {
  color: #494d55;
}
.body-orange .page-wrapper .doc-sub-menu .nav-link.active {
  color: #f90;
}
.body-orange .page-wrapper .sub-sub-menu .nav-link.active {
  color: #f90;
}
.page-wrapper .promo-block {
  background: #3aa7aa;
}
.body-blue .page-wrapper .promo-block {
  background: #41b2ec;
}
.body-orange .page-wrapper .promo-block {
  background: #f77e17;
}
.page-wrapper .promo-block a {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}
.page-wrapper .promo-block a:hover {
  color: rgba(0, 0, 0, 0.7);
}
.page-wrapper .promo-block .promo-block-inner {
  padding: 45px;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.page-wrapper .promo-block .promo-title {
  font-size: 20px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 45px;
}
.page-wrapper .promo-block .promo-title .svg-inline--fa {
  color: rgba(0, 0, 0, 0.6);
}
.page-wrapper .promo-block .figure-holder-inner {
  background: #fff;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}
.page-wrapper .promo-block .figure-holder-inner img {
  border: 5px solid #fff;
}
.page-wrapper .promo-block .figure-holder-inner .mask {
  display: block;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  text-decoration: none;
}
.page-wrapper .promo-block .figure-holder-inner .mask .svg-inline--fa {
  color: #fff;
  font-size: 36px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -18px;
  margin-top: -18px;
}
.page-wrapper .promo-block .figure-holder-inner:hover .mask {
  visibility: visible;
}
.page-wrapper .promo-block .content-holder-inner {
  padding-left: 15px;
  padding-right: 15px;
}
.page-wrapper .promo-block .content-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
}
.page-wrapper .promo-block .highlight {
  color: rgba(0, 0, 0, 0.6);
}
.page-wrapper .promo-block .btn-cta {
  background: rgba(0, 0, 0, 0.35);
  border: none;
  color: #fff !important;
  margin-bottom: 15px;
}
.page-wrapper .promo-block .btn-cta:hover {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff !important;
}
@media (max-width: 767px) {
  .page-wrapper .jumbotron {
    padding: 30px 15px;
  }
  .page-wrapper .jumbotron h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .page-wrapper .jumbotron p {
    font-size: 18px;
  }
  .page-wrapper .promo-block .promo-block-inner {
    padding: 30px 15px;
  }
  .page-wrapper .promo-block .content-holder-inner {
    padding: 0;
  }
  .page-wrapper .promo-block .promo-title {
    margin-bottom: 30px;
  }
}
.page-wrapper .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}
.page-wrapper .sticky:before,
.page-wrapper .sticky:after {
  content: '';
  display: table;
}
.page-wrapper .landing-page .sub-header {
  background: #494d55;
  color: rgba(255, 255, 255, 0.85);
  padding: 60px 0;
}
.page-wrapper .landing-page .sub-header a {
  color: #fff;
}
.page-wrapper .landing-page .branding {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.page-wrapper .landing-page .branding .logo {
  font-size: 38px;
  margin-top: 0;
  margin-bottom: 0;
}
.page-wrapper .landing-page .branding .text-bold {
  font-weight: 800;
  color: #f90;
}
.page-wrapper .landing-page .branding .icon {
  font-size: 32px;
  color: #f90;
}
.page-wrapper .landing-page .tagline {
  font-weight: 600;
  font-size: 20px;
}
.page-wrapper .landing-page .tagline p {
  margin-bottom: 5px;
}
.page-wrapper .landing-page .tagline .text-highlight {
  color: #f90;
}
.page-wrapper .landing-page .fa-heart {
  color: #f90;
}
.page-wrapper .landing-page .cta-container {
  margin-top: 30px;
}
.page-wrapper .landing-page .social-container {
  margin-top: 30px;
}
.page-wrapper .landing-page .social-container .twitter-tweet {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: 5px;
}
.page-wrapper .landing-page .social-container .fab-like {
  display: inline-block;
}
.page-wrapper .cards-section {
  padding: 60px 0;
  background: #fff;
}
.page-wrapper .cards-section .title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
}
.page-wrapper .cards-section .intro {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 60px;
  color: #616670;
}
.page-wrapper .cards-section .cards-wrapper {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}
.page-wrapper .cards-section .item {
  margin-bottom: 30px;
}
.page-wrapper .cards-section .item .icon-holder {
  margin-bottom: 15px;
}
.page-wrapper .cards-section .item .icon {
  font-size: 36px;
}
.page-wrapper .cards-section .item .title {
  font-size: 16px;
  font-weight: 600;
}
.page-wrapper .cards-section .item .intro {
  margin-bottom: 15px;
}
.page-wrapper .cards-section .item-inner {
  padding: 45px 30px;
  background: #fff;
  position: relative;
  border: 1px solid #f0f0f0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 100%;
}
.page-wrapper .cards-section .item-inner .link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("../images/empty.gif");
  /* for IE8 */
}
.page-wrapper .cards-section .item-inner:hover {
  background: #f5f5f5;
}
.page-wrapper .cards-section .item-primary .item-inner {
  border-top: 3px solid #40babd;
}
.page-wrapper .cards-section .item-primary .item-inner:hover .title {
  color: #2d8284;
}
.page-wrapper .cards-section .item-primary .icon {
  color: #40babd;
}
.page-wrapper .cards-section .item-blue .item-inner {
  border-top: 3px solid #494d55;
}
.page-wrapper .cards-section .item-blue .item-inner:hover .title {
  color: #f90;
}
.page-wrapper .cards-section .item-blue .icon {
  color: #494d55;
}
.page-wrapper .cards-section .item-orange .item-inner {
  border-top: 3px solid #f90;
}
.page-wrapper .cards-section .item-orange .item-inner:hover .title {
  color: #d46607;
}
.page-wrapper .cards-section .item-orange .icon {
  color: #f90;
}
.page-wrapper .cards-section .item-server .item-inner {
  border-top: 3px solid #7EC0EE;
}
.page-wrapper .cards-section .item-server .item-inner:hover .title {
  color: #71acd6;
}
.page-wrapper .cards-section .item-server .icon {
  color: #7EC0EE;
}
@media (max-width: 767.98px) {
  .page-wrapper .cards-section .item-inner {
    padding: 30px 15px;
  }
}
.docu-general-header {
  margin-top: 15px !important;
}
.page-wrapper .collapsed {
  display:none;
  margin-left: 12px;
}
.page-wrapper .expanded {
  margin-left: 12px;
  display: none;
}
.custom-table {
  margin: 40px;
  margin-bottom: 10px;
}
.custom-table td {
  padding: 10px;
  vertical-align: top;
}
.custom-table td:nth-child(odd) {
  text-align:center;
}
.page-wrapper .console-box {
  background-color: #000000;
  width: 100%;
  height: 100%;
  padding: 1em;
}
.page-wrapper .console-box-inline {
  background-color: #000000;
}
.page-wrapper .console-mark {
  user-select: none;
  cursor: text;
  padding-right: 0.5em;
}
.page-wrapper .console-content {
  color: #fff;
  font-family: monospace;
}
.tab-console-content {
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 30px;
}
.long-word-wrap{
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.upvote-custom {
  margin-top: 10px;
}
.btn-upvote:hover {
  background-color: #d9f1d9;
}
.confirm-btn {
    background: #f90!important;
    text-shadow: none;
    border: none;
    color: #494d55!important;
}
.confirm-btn:hover {
    background: #e18d0f!important;
    color: #494d55!important;
}
.cancel-btn {
    background: #fff;
    color: #494d55;
    border-color: #9a9fa8;
    cursor: pointer;
    cursor: pointer;
}
.cancel-btn:hover {
    background: #f6f5f5;
    color: #494d55;
    border-color: #9a9fa8;
}
.vertical-outer {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-inner {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content-custom {
    width:inherit;
    max-width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events: all;
}
.box-grey {
    background: #f9f9fb;
    padding: 5px;
    border: 1px solid grey;
    margin: 5px;
    margin-bottom: 15px;
}
#win-tab,
#macos-tab,
#linux-tab {
    border: 1px solid #f9f9fb;
    text-align: center;
    background-color: #f9f9fb;
    padding: 15pt 50pt;
    color: #495057;
}
#win-tab:hover,
#macos-tab:hover,
#linux-tab:hover {
    border: 1px solid gray;
}
#macos-tab[aria-selected="true"],
#win-tab[aria-selected="true"],
#linux-tab[aria-selected="true"]{
  border: 1px solid gray;
  color: #000000;
}
.page-wrapper .btn-primary:not(:disabled):not(.disabled).active,
.page-wrapper .btn-primary:not(:disabled):not(.disabled):active,
.page-wrapper .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #de8807;
    border-color: #de8807;
}
.info-wrapper{
  color:inherit;
  position:relative;
  top:-14px;
}
.info-wrapper-small{
  color:inherit;
  position:relative;
  top:-8px;
}
.info-label {
    display: inline-block;
}
.info-icon{
  text-align: right;
  font-size: 17px;
  margin-left: 13px;
  display: inline-block;
}
.info-icon-small{
  text-align: right;
  font-size: 13px;
  margin-left: 5px;
  display: inline-block;
  color: #494d55
}
.header-btn-left{
  text-align: right;
}
.header-btn-right{
  text-align: left;
}
.center-text-small{
  text-align:left;
}
.page-wrapper .margin-bottom-lg{
    margin-top: 80px;
}
@media (max-width: 991px) {
  .page-wrapper .callout-block .icon-holder{
    top: -5px;
    right: 8px;
    left: unset;
  }
  .page-wrapper .callout-block .content{
    margin-left: 0px;
  }
  .page-wrapper .callout-block .icon-holder.custom-icon-holder{
    top: -5px !important;
  }
  .page-wrapper .callout-block .content.custom-icon-content{
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .page-wrapper .col-sm-12.header-btn{
      text-align: center;
  }
  .page-wrapper .col-sm-12.header-btn.header-btn-right{
      margin-top:2px;
  }
  .page-wrapper .center-image-small{
    margin-left: auto;
    margin-right: auto;
  }
  .page-wrapper .center-text-small{
    text-align:center;
  }
  .page-wrapper .margin-bottom-small{
    margin-bottom:20px;
  }
  .doc-wrapper>.container,
  .index-page>.container{
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 991px) {
  .page-wrapper .center-image-lg{
    margin-left: auto;
    margin-right: auto;
  }
  .page-wrapper .margin-bottom-lg{
    margin-bottom:40px;
    margin-top:0px;
  }
  .page-wrapper .nav-item.no-margin-sm{
    margin-bottom: 0px;
  }
}
.slide-toggle {
  font-size: 10px;
}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.page-wrapper .doc-section .api-header {
  font-weight: normal;
  font-size: 14pt;
  margin-bottom: 5px;
}
.api-arguments {
  margin: 10px 0;
}
.api-arguments td {
  padding: 5px;
}
.expandable-box-outline {
  border: 1px solid black;
  padding: 5px;
}
