:root {
    --miro-alert-color: #d11a2a;
    --miro-alert-color-dark: #d11a2a;
    --miro-console-text-color: #333333;
    --miro-console-text-color-dark: #3c8dbc;
    --miro-darken-0efbf01c: #07A7AF;
    --miro-darken-111221b2: #035779;
    --miro-darken-12518b85: #0C1313;
    --miro-darken-1673785d: #2E769A;
    --miro-darken-19dd7eda: #E28A00;
    --miro-darken-28c2c354: #121717;
    --miro-darken-28f7e606: #05709C;
    --miro-darken-29c4aefc: #CFBEA8;
    --miro-darken-2ad94c65: #3A2400;
    --miro-darken-3fd83bc2: #DE8705;
    --miro-darken-411e4a78: #0D9AA1;
    --miro-darken-41c1769c: #4D525A;
    --miro-darken-4879a36f: #B50019;
    --miro-darken-4b80b5c4: #023249;
    --miro-darken-553812b2: #0A858B;
    --miro-darken-57c981c3: #036C71;
    --miro-darken-618fc861: #04638A;
    --miro-darken-618fc862: #097E84;
    --miro-darken-62f5e2b6: #383D45;
    --miro-darken-686ca693: #056A93;
    --miro-darken-68f1341c: #B50019;
    --miro-darken-75d40b33: #E28A00;
    --miro-darken-78904a7c: #121516;
    --miro-darken-7911e270: #151718;
    --miro-darken-87dfbfea: #077076;
    --miro-darken-8bbacd34: #589EA1;
    --miro-darken-8df68996: #380004;
    --miro-darken-8e82a497: #CF7E05;
    --miro-darken-8e899f91: #161B1B;
    --miro-darken-8f2deed1: #1F7EAD;
    --miro-darken-970a799e: #6B7078;
    --miro-darken-9e0118e0: #444951;
    --miro-darken-a59823b8: #CFA9AC;
    --miro-darken-a6b030af: #464B53;
    --miro-darken-a780cc60: #CF7E05;
    --miro-darken-a8b8ac97: #029CA3;
    --miro-darken-b05e8d17: #191D1D;
    --miro-darken-b5221a2c: #005273;
    --miro-darken-c2f685b8: #2580AF;
    --miro-darken-c33ee2c5: #0874A1;
    --miro-darken-c806e739: #141919;
    --miro-darken-cd55fe88: #1C7DAB;
    --miro-darken-d35a8f8e: #071422;
    --miro-darken-daccffb8: #DE8705;
    --miro-darken-dc24222b: #17191A;
    --miro-darken-e354f9b5: #0F9097;
    --miro-darken-e71e1e83: #0B8C92;
    --miro-darken-e89a054b: #109EA5;
    --miro-darken-ec72c039: #015173;
    --miro-darken-eccec2f4: #119EA6;
    --miro-darken-f6592ee2: #0D1012;
    --miro-darken-v73ofn52: #1B1F1F;
    --miro-fade-041bf36e: #00ADB5B0;
    --miro-fade-09c43b35: #00ADB5BF;
    --miro-fade-102be7f4: #8489912B;
    --miro-fade-193caeb6: #3C8DBCB0;
    --miro-fade-304ae92d: #54B2E8BF;
    --miro-fade-5cff14c3: #3C8DBCE6;
    --miro-fade-b4a0a1c1: #3C8DBC99;
    --miro-fade-ece660c0: #292D328F;
    --miro-fade-f865be76: #3C8DBC0F;
    --miro-if-035e91c6: #f39619;
    --miro-if-038054cd: #212525;
    --miro-if-09b7c5a1: #3D718F;
    --miro-if-0f08a484: #518FB3;
    --miro-if-10618845: #f39619;
    --miro-if-190bbef8: #00ADB50F;
    --miro-if-1b7f3b8b: #ADADAD;
    --miro-if-1b7f3b8c: #eeeeee;
    --miro-if-1b7f3b8d: #eeeeee;
    --miro-if-1f2de522: #036DAA;
    --miro-if-24167817: #AEB0B0;
    --miro-if-249e30a5: #0C6192;
    --miro-if-2db96ace: #0A4E76;
    --miro-if-30a3c04d: #D0E5F0;
    --miro-if-3105643b: #f39619;
    --miro-if-3b6cb002: #ffffff;
    --miro-if-417fecde: #232526;
    --miro-if-4a0e097b: #292D32;
    --miro-if-4ab14308: #202B31;
    --miro-if-4bc80e64: #eeeeee;
    --miro-if-5905ebb4: #eeeeee;
    --miro-if-5ac7f651: #46A5DD;
    --miro-if-5bc80e62: #ffffff;
    --miro-if-6f85b072: #333333;
    --miro-if-72f3068c: #0B747A;
    --miro-if-7dea713b: #ffffff;
    --miro-if-7f94f006: #76B9BC;
    --miro-if-8215301a: #0F9097;
    --miro-if-851d5a45: #3c8dbc;
    --miro-if-8d03604f: #3c8dbc;
    --miro-if-8e425bfe: #ECF1F4;
    --miro-if-91176f10: #009EFA;
    --miro-if-94dad415: #f39619;
    --miro-if-9ad4a640: #eeeeee;
    --miro-if-a8c57869: #eeeeee;
    --miro-if-ae6884db: #A4C0D0;
    --miro-if-b2819be2: #36637D;
    --miro-if-b318da33: #F9E8D2;
    --miro-if-b3ce36b1: #1D8DCD;
    --miro-if-ba47b56b: #602025;
    --miro-if-c1a0bfe3: #292D32;
    --miro-if-c6c8bc62: #0091E6;
    --miro-if-cb57bb52: #3c8dbc;
    --miro-if-cf579cbb: #F9D2D5;
    --miro-if-d2f31bc0: #00adb5;
    --miro-navbar-color-dark: #1D2020;
    --miro-if-d440a364: #91C8E8;
    --miro-if-dc5cf808: #ffffff;
    --miro-if-dde4565a: #604420;
    --miro-if-deaa6f9b: #07A7AF;
    --miro-if-e0e5aa9e: #eeeeee;
    --miro-if-e33a6962: #333333;
    --miro-if-e44576b0: #54B2E8;
    --miro-if-ea8983c1: #eeeeee;
    --miro-if-ec44ba6b: #d11a2a;
    --miro-if-ed1f2135: #052C42;
    --miro-if-ed914f1d: #3c8dbc;
    --miro-if-f1a3b180: #292D32;
    --miro-if-f37627e5: #3c8dbc;
    --miro-if-f57ecf46: #ADADAD;
    --miro-if-f5e54611: #AFB2B2;
    --miro-if-fa310009: #333333;
    --miro-if-v8c57865: #ffffff;
    --miro-lighten-196d441a: #4A4D4D;
    --miro-lighten-27d70c85: #565B63;
    --miro-lighten-360db171: #5DD6DE;
    --miro-lighten-37654577: #5D6269;
    --miro-lighten-39320a59: #888A8A;
    --miro-lighten-49e49d58: #494B4B;
    --miro-lighten-4d79a66d: #28292A;
    --miro-lighten-4f1df671: #AEB0B0;
    --miro-lighten-6a0cbe6d: #C6E4FF;
    --miro-lighten-76740698: #6FB4E4;
    --miro-lighten-8b122426: #323435;
    --miro-lighten-919393a0: #AFB2B2;
    --miro-lighten-959ccfc9: #282B2B;
    --miro-lighten-9ae39279: #454951;
    --miro-lighten-a006ac60: #212324;
    --miro-lighten-c5da3167: #878888;
    --miro-lighten-f6fb5849: #333636;
    --miro-main-bg: #ffffff;
    --miro-main-bg-dark: #393e46;
    --miro-primary-color: #3c8dbc;
    --miro-primary-color-dark: #00adb5;
    --miro-secondary-color: #f39619;
    --miro-secondary-color-dark: #f39619;
    --miro-sidebar-color: #1d2121;
    --miro-navbar-color: #ffffff;
    --miro-navbar-color_dark: #1d2020;
    --miro-sidebar-color-dark: #1d1f20;
    --miro-sidebar-contrast-dark: #ffffff;
    --miro-sidebar-contrast-dark2: #ffffff;
    --miro-sidebar-contrast-light: #ffffff;
    --miro-sidebar-contrast-light2: #ffffff;
    --miro-navbar-contrast-light: #333333;
    --miro-text-color: #eeeeee;
    --miro-text-color-dark: #eeeeee;
    --miro-widget-bg-dark: #848991;
    --miro-body-bg-color: #ECF1F4;
    --miro-body-bg-color-dark: #292D32;
    --miro-notification-bg: #d9edf7;
    --miro-notification-text: #31708f;
    --miro-notification-border: #bce8f1;
    --miro-notification-bg-dark: #070808;
}
