:root {
    --alert-color: #d11a2a;
    --alert-color-dark: #d11a2a;
    --console-text-color: #333333;
    --console-text-color-dark: #3c8dbc;
    --darken-0efbf01c: #07A7AF;
    --darken-111221b2: #035779;
    --darken-12518b85: #0C1313;
    --darken-1673785d: #2E769A;
    --darken-19dd7eda: #E28A00;
    --darken-28c2c354: #121717;
    --darken-28f7e606: #05709C;
    --darken-29c4aefc: #CFBEA8;
    --darken-2ad94c65: #3A2400;
    --darken-3fd83bc2: #DE8705;
    --darken-411e4a78: #0D9AA1;
    --darken-41c1769c: #4D525A;
    --darken-4879a36f: #B50019;
    --darken-4b80b5c4: #023249;
    --darken-553812b2: #0A858B;
    --darken-57c981c3: #036C71;
    --darken-618fc861: #04638A;
    --darken-618fc862: #097E84;
    --darken-62f5e2b6: #383D45;
    --darken-686ca693: #056A93;
    --darken-68f1341c: #B50019;
    --darken-75d40b33: #E28A00;
    --darken-78904a7c: #121516;
    --darken-7911e270: #151718;
    --darken-87dfbfea: #077076;
    --darken-8bbacd34: #589EA1;
    --darken-8df68996: #380004;
    --darken-8e82a497: #CF7E05;
    --darken-8e899f91: #161B1B;
    --darken-8f2deed1: #1F7EAD;
    --darken-970a799e: #6B7078;
    --darken-9e0118e0: #444951;
    --darken-a59823b8: #CFA9AC;
    --darken-a6b030af: #464B53;
    --darken-a780cc60: #CF7E05;
    --darken-a8b8ac97: #029CA3;
    --darken-b05e8d17: #191D1D;
    --darken-b5221a2c: #005273;
    --darken-c2f685b8: #2580AF;
    --darken-c33ee2c5: #0874A1;
    --darken-c806e739: #141919;
    --darken-cd55fe88: #1C7DAB;
    --darken-d35a8f8e: #071422;
    --darken-daccffb8: #DE8705;
    --darken-dc24222b: #17191A;
    --darken-e354f9b5: #0F9097;
    --darken-e71e1e83: #0B8C92;
    --darken-e89a054b: #109EA5;
    --darken-ec72c039: #015173;
    --darken-eccec2f4: #119EA6;
    --darken-f6592ee2: #0D1012;
    --darken-v73ofn52: #1B1F1F;
    --fade-041bf36e: #00ADB5B0;
    --fade-09c43b35: #00ADB5BF;
    --fade-102be7f4: #8489912B;
    --fade-193caeb6: #3C8DBCB0;
    --fade-304ae92d: #54B2E8BF;
    --fade-5cff14c3: #3C8DBCE6;
    --fade-b4a0a1c1: #3C8DBC99;
    --fade-ece660c0: #292D328F;
    --fade-f865be76: #3C8DBC0F;
    --if-035e91c6: #f39619;
    --if-038054cd: #212525;
    --if-09b7c5a1: #3D718F;
    --if-0f08a484: #518FB3;
    --if-10618845: #f39619;
    --if-190bbef8: #00ADB50F;
    --if-1b7f3b8b: #ADADAD;
    --if-1b7f3b8c: #eeeeee;
    --if-1b7f3b8d: #eeeeee;
    --if-1f2de522: #036DAA;
    --if-24167817: #AEB0B0;
    --if-249e30a5: #0C6192;
    --if-2db96ace: #0A4E76;
    --if-30a3c04d: #D0E5F0;
    --if-3105643b: #f39619;
    --if-3b6cb002: #ffffff;
    --if-417fecde: #232526;
    --if-4a0e097b: #292D32;
    --if-4ab14308: #202B31;
    --if-4bc80e64: #eeeeee;
    --if-5905ebb4: #eeeeee;
    --if-5ac7f651: #46A5DD;
    --if-5bc80e62: #ffffff;
    --if-6f85b072: #333333;
    --if-72f3068c: #0B747A;
    --if-7dea713b: #ffffff;
    --if-7f94f006: #76B9BC;
    --if-8215301a: #0F9097;
    --if-851d5a45: #3c8dbc;
    --if-8d03604f: #3c8dbc;
    --if-8e425bfe: #ECF1F4;
    --if-91176f10: #009EFA;
    --if-94dad415: #f39619;
    --if-9ad4a640: #eeeeee;
    --if-a8c57869: #eeeeee;
    --if-ae6884db: #A4C0D0;
    --if-b2819be2: #36637D;
    --if-b318da33: #F9E8D2;
    --if-b3ce36b1: #1D8DCD;
    --if-ba47b56b: #602025;
    --if-c1a0bfe3: #292D32;
    --if-c6c8bc62: #0091E6;
    --if-cb57bb52: #3c8dbc;
    --if-cf579cbb: #F9D2D5;
    --if-d2f31bc0: #00adb5;
    --if-d3bd34c4: #1D2020;
    --if-d440a364: #91C8E8;
    --if-dc5cf808: #ffffff;
    --if-dde4565a: #604420;
    --if-deaa6f9b: #07A7AF;
    --if-e0e5aa9e: #eeeeee;
    --if-e33a6962: #333333;
    --if-e44576b0: #54B2E8;
    --if-ea8983c1: #eeeeee;
    --if-ec44ba6b: #d11a2a;
    --if-ed1f2135: #052C42;
    --if-ed914f1d: #3c8dbc;
    --if-f1a3b180: #292D32;
    --if-f37627e5: #3c8dbc;
    --if-f57ecf46: #ADADAD;
    --if-f5e54611: #AFB2B2;
    --if-fa310009: #333333;
    --if-v8c57865: #ffffff;
    --lighten-196d441a: #4A4D4D;
    --lighten-27d70c85: #565B63;
    --lighten-360db171: #5DD6DE;
    --lighten-37654577: #5D6269;
    --lighten-39320a59: #888A8A;
    --lighten-49e49d58: #494B4B;
    --lighten-4d79a66d: #28292A;
    --lighten-4f1df671: #AEB0B0;
    --lighten-6a0cbe6d: #C6E4FF;
    --lighten-76740698: #6FB4E4;
    --lighten-8b122426: #323435;
    --lighten-919393a0: #AFB2B2;
    --lighten-959ccfc9: #282B2B;
    --lighten-9ae39279: #454951;
    --lighten-a006ac60: #212324;
    --lighten-c5da3167: #878888;
    --lighten-f6fb5849: #333636;
    --main-bg: #ffffff;
    --main-bg-dark: #393e46;
    --primary-color: #3c8dbc;
    --primary-color-dark: #00adb5;
    --secondary-color: #f39619;
    --secondary-color-dark: #f39619;
    --sidebar-color: #1d2121;
    --sidebar-color-dark: #1d1f20;
    --sidebar-contrast-dark: #ffffff;
    --sidebar-contrast-dark2: #ffffff;
    --sidebar-contrast-light: #ffffff;
    --sidebar-contrast-light2: #ffffff;
    --text-color: #eeeeee;
    --text-color-dark: #eeeeee;
    --widget-bg-dark: #848991;
}
