:root {
    --miro-alert-color: #b5123b;
    --miro-alert-color-dark: #b5123b;
    --miro-console-text-color: #690b22;
    --miro-console-text-color-dark: #690b22;
    --miro-darken-0efbf01c: #65011D;
    --miro-darken-111221b2: #000000;
    --miro-darken-12518b85: #EBEBEB;
    --miro-darken-1673785d: #983550;
    --miro-darken-19dd7eda: #A30030;
    --miro-darken-28c2c354: #F1F1F1;
    --miro-darken-28f7e606: #40000E;
    --miro-darken-29c4aefc: #CFA9B3;
    --miro-darken-2ad94c65: #380011;
    --miro-darken-3fd83bc2: #9E002F;
    --miro-darken-411e4a78: #530015;
    --miro-darken-41c1769c: #564F53;
    --miro-darken-4879a36f: #9D002E;
    --miro-darken-4b80b5c4: #000000;
    --miro-darken-553812b2: #37000A;
    --miro-darken-57c981c3: #4E0014;
    --miro-darken-618fc861: #2C0007;
    --miro-darken-618fc862: #2C0007;
    --miro-darken-62f5e2b6: #393939;
    --miro-darken-686ca693: #37000A;
    --miro-darken-68f1341c: #9D002E;
    --miro-darken-75d40b33: #A30030;
    --miro-darken-78904a7c: #1A1A1A;
    --miro-darken-7911e270: #1C1C1C;
    --miro-darken-87dfbfea: #000000;
    --miro-darken-8bbacd34: #A15C6E;
    --miro-darken-8df68996: #380011;
    --miro-darken-8e82a497: #8D0028;
    --miro-darken-8e899f91: #F6F6F6;
    --miro-darken-8f2deed1: #550016;
    --miro-darken-970a799e: #736C70;
    --miro-darken-9e0118e0: #4D464A;
    --miro-darken-a59823b8: #CFA9B3;
    --miro-darken-a6b030af: #4F484C;
    --miro-darken-a780cc60: #8D0028;
    --miro-darken-a8b8ac97: #550016;
    --miro-darken-b05e8d17: #F9F9F9;
    --miro-darken-b5221a2c: #000000;
    --miro-darken-c2f685b8: #590018;
    --miro-darken-c33ee2c5: #460010;
    --miro-darken-c806e739: #F3F3F3;
    --miro-darken-cd55fe88: #530015;
    --miro-darken-d35a8f8e: #0F0F0F;
    --miro-darken-daccffb8: #9E002F;
    --miro-darken-dc24222b: #1E1E1E;
    --miro-darken-e354f9b5: #460010;
    --miro-darken-e71e1e83: #40000E;
    --miro-darken-e89a054b: #62001B;
    --miro-darken-ec72c039: #000000;
    --miro-darken-eccec2f4: #590018;
    --miro-darken-f6592ee2: #161616;
    --miro-darken-v73ofn52: #FCFCFC;
    --miro-fade-041bf36e: #690B22B0;
    --miro-fade-09c43b35: #690B22BF;
    --miro-fade-102be7f4: #8C85892B;
    --miro-fade-193caeb6: #690B22B0;
    --miro-fade-304ae92d: #E85478BF;
    --miro-fade-5cff14c3: #690B22E6;
    --miro-fade-b4a0a1c1: #690B2299;
    --miro-fade-ece660c0: #1F1F1F8F;
    --miro-fade-f865be76: #690B220F;
    --miro-if-035e91c6: #b5123b;
    --miro-if-038054cd: #F9F9F9;
    --miro-if-09b7c5a1: #8F3D51;
    --miro-if-0f08a484: #B35169;
    --miro-if-10618845: #b5123b;
    --miro-if-190bbef8: #690B221A;
    --miro-if-1b7f3b8b: #ADADAD;
    --miro-if-1b7f3b8c: #ADADAD;
    --miro-if-1b7f3b8d: #eeeeee;
    --miro-if-1f2de522: #AA032C;
    --miro-if-24167817: #B6B6B6;
    --miro-if-249e30a5: #920C2D;
    --miro-if-2db96ace: #760A24;
    --miro-if-30a3c04d: #F0D0D8;
    --miro-if-3105643b: #ffffff;
    --miro-if-3b6cb002: #ffffff;
    --miro-if-417fecde: #2A2A2A;
    --miro-if-4a0e097b: #A9A9A9;
    --miro-if-4ab14308: #312024;
    --miro-if-4bc80e64: #eeeeee;
    --miro-if-5905ebb4: #eeeeee;
    --miro-if-5ac7f651: #DD466B;
    --miro-if-5bc80e62: #ffffff;
    --miro-if-6f85b072: #ffffff;
    --miro-if-72f3068c: #D27C87;
    --miro-if-7dea713b: #ffffff;
    --miro-if-7f94f006: #BC7687;
    --miro-if-8215301a: #EE97A2;
    --miro-if-851d5a45: #ffffff;
    --miro-if-8d03604f: #690b22;
    --miro-if-8e425bfe: #F4ECEE;
    --miro-if-91176f10: #FA003D;
    --miro-if-94dad415: #b5123b;
    --miro-if-9ad4a640: #eeeeee;
    --miro-if-a8c57869: #eeeeee;
    --miro-if-ae6884db: #D0A4AF;
    --miro-if-b2819be2: #7D3647;
    --miro-if-b318da33: #F9D2DC;
    --miro-if-b3ce36b1: #CD1D48;
    --miro-if-ba47b56b: #602030;
    --miro-if-c1a0bfe3: #262626;
    --miro-if-c6c8bc62: #E60038;
    --miro-if-cb57bb52: #cdcdcd;
    --miro-if-cf579cbb: #F9D2DC;
    --miro-if-d2f31bc0: #ffffff;
    --miro-navbar-color-dark: #201D1E;
    --miro-if-d440a364: #E891A6;
    --miro-if-dc5cf808: #ffffff;
    --miro-if-dde4565a: #602030;
    --miro-if-deaa6f9b: #65011D;
    --miro-if-e0e5aa9e: #eeeeee;
    --miro-if-e33a6962: #ffffff;
    --miro-if-e44576b0: #E85478;
    --miro-if-ea8983c1: #eeeeee;
    --miro-if-ec44ba6b: #b5123b;
    --miro-if-ed1f2135: #420514;
    --miro-if-ed914f1d: #690b22;
    --miro-if-f1a3b180: #1F1F1F;
    --miro-if-f37627e5: #cdcdcd;
    --miro-if-f57ecf46: #ADADAD;
    --miro-if-f5e54611: #333333;
    --miro-if-fa310009: #ffffff;
    --miro-if-v8c57865: #eeeeee;
    --miro-lighten-196d441a: #FFFFFF;
    --miro-lighten-27d70c85: #5F585C;
    --miro-lighten-360db171: #8E3A47;
    --miro-lighten-37654577: #665F63;
    --miro-lighten-39320a59: #FFFFFF;
    --miro-lighten-49e49d58: #505050;
    --miro-lighten-4d79a66d: #2F2F2F;
    --miro-lighten-4f1df671: #B6B6B6;
    --miro-lighten-6a0cbe6d: #B47179;
    --miro-lighten-76740698: #8E3A47;
    --miro-lighten-8b122426: #3A3A3A;
    --miro-lighten-919393a0: #FFFFFF;
    --miro-lighten-959ccfc9: #FFFFFF;
    --miro-lighten-9ae39279: #454545;
    --miro-lighten-a006ac60: #282828;
    --miro-lighten-c5da3167: #8F8F8F;
    --miro-lighten-f6fb5849: #FFFFFF;
    --miro-main-bg: #ffffff;
    --miro-main-bg-dark: #3a3a3a;
    --miro-primary-color: #690b22;
    --miro-primary-color-dark: #690b22;
    --miro-secondary-color: #b5123b;
    --miro-secondary-color-dark: #b5123b;
    --miro-sidebar-color: #ffffff;
    --miro-sidebar-color-dark: #242424;
    --miro-sidebar-contrast-dark: #ffffff;
    --miro-sidebar-contrast-dark2: #ffffff;
    --miro-sidebar-contrast-light: #333333;
    --miro-sidebar-contrast-light2: #222222;
    --miro-navbar-contrast-light: #333333;
    --miro-text-color: #eeeeee;
    --miro-text-color-dark: #eeeeee;
    --miro-widget-bg-dark: #8c8589;
    --miro-body-bg-color: #F4ECEE;
    --miro-body-bg-color-dark: #1F1F1F;
    --miro-notification-bg: #d17c87;
    --miro-notification-text: #000000;
    --miro-notification-border: #510015;
    --miro-notification-bg-dark: #000000;
    --miro-logo: url('miro_logo_light.png');
    --miro-logo-dark: url('miro_logo_light_dark.png');
}
