:root {
    --miro-alert-color: #db460d;
    --miro-alert-color-dark: #db460d;
    --miro-console-text-color: #ce7e16;
    --miro-console-text-color-dark: #ce7e16;
    --miro-darken-0efbf01c: #C87907;
    --miro-darken-111221b2: #844E03;
    --miro-darken-12518b85: #EBEBEB;
    --miro-darken-1673785d: #986E31;
    --miro-darken-19dd7eda: #BD7202;
    --miro-darken-28c2c354: #F1F1F1;
    --miro-darken-28f7e606: #A66403;
    --miro-darken-29c4aefc: #CFBEA8;
    --miro-darken-2ad94c65: #3A2400;
    --miro-darken-3fd83bc2: #B97006;
    --miro-darken-411e4a78: #B86F00;
    --miro-darken-41c1769c: #333332;
    --miro-darken-4879a36f: #B93801;
    --miro-darken-4b80b5c4: #543000;
    --miro-darken-553812b2: #9D5F04;
    --miro-darken-57c981c3: #844E02;
    --miro-darken-618fc861: #955900;
    --miro-darken-618fc862: #955900;
    --miro-darken-62f5e2b6: #2B2B2B;
    --miro-darken-686ca693: #9D5F04;
    --miro-darken-68f1341c: #B93801;
    --miro-darken-75d40b33: #BD7202;
    --miro-darken-78904a7c: #090400;
    --miro-darken-7911e270: #0F0800;
    --miro-darken-87dfbfea: #844E03;
    --miro-darken-8bbacd34: #A1845A;
    --miro-darken-8df68996: #381300;
    --miro-darken-8e82a497: #AC6700;
    --miro-darken-8e899f91: #F6F6F6;
    --miro-darken-8f2deed1: #B97006;
    --miro-darken-970a799e: #3B3B3A;
    --miro-darken-9e0118e0: #2E2E2D;
    --miro-darken-a59823b8: #CFB3A8;
    --miro-darken-a6b030af: #2D2D2B;
    --miro-darken-a780cc60: #AC6700;
    --miro-darken-a8b8ac97: #B97006;
    --miro-darken-b05e8d17: #F9F9F9;
    --miro-darken-b5221a2c: #7D4A03;
    --miro-darken-c2f685b8: #BD7202;
    --miro-darken-c33ee2c5: #AC6700;
    --miro-darken-c806e739: #F3F3F3;
    --miro-darken-cd55fe88: #B86F00;
    --miro-darken-d35a8f8e: #000000;
    --miro-darken-daccffb8: #B97006;
    --miro-darken-dc24222b: #130B00;
    --miro-darken-e354f9b5: #AC6700;
    --miro-darken-e71e1e83: #A66403;
    --miro-darken-e89a054b: #BE7205;
    --miro-darken-ec72c039: #7D4A02;
    --miro-darken-eccec2f4: #BD7202;
    --miro-darken-f6592ee2: #000000;
    --miro-darken-v73ofn52: #FCFCFC;
    --miro-fade-041bf36e: #CE7E16B0;
    --miro-fade-09c43b35: #CE7E16BF;
    --miro-fade-102be7f4: #5252512B;
    --miro-fade-193caeb6: #CE7E16B0;
    --miro-fade-304ae92d: #E8A854BF;
    --miro-fade-5cff14c3: #CE7E16E6;
    --miro-fade-b4a0a1c1: #CE7E1699;
    --miro-fade-ece660c0: #1F1F1F8F;
    --miro-fade-f865be76: #CE7E160F;
    --miro-if-035e91c6: #ce7e16;
    --miro-if-038054cd: #F9F9F9;
    --miro-if-09b7c5a1: #8F6B3D;
    --miro-if-0f08a484: #B38851;
    --miro-if-10618845: #ce7e16;
    --miro-if-190bbef8: #CE7E160F;
    --miro-if-1b7f3b8b: #ADADAD;
    --miro-if-1b7f3b8c: #ADADAD;
    --miro-if-1b7f3b8d: #eeeeee;
    --miro-if-1f2de522: #AA6203;
    --miro-if-24167817: #A5A19D;
    --miro-if-249e30a5: #92580C;
    --miro-if-2db96ace: #76470A;
    --miro-if-30a3c04d: #F0E2D0;
    --miro-if-3105643b: #ce7e16;
    --miro-if-3b6cb002: #ffffff;
    --miro-if-417fecde: #1F1912;
    --miro-if-4a0e097b: #1F1F1F;
    --miro-if-4ab14308: #312A20;
    --miro-if-4bc80e64: #eeeeee;
    --miro-if-5905ebb4: #eeeeee;
    --miro-if-5ac7f651: #DD9B46;
    --miro-if-5bc80e62: #ffffff;
    --miro-if-6f85b072: #333333;
    --miro-if-72f3068c: #895100;
    --miro-if-7dea713b: #ffffff;
    --miro-if-7f94f006: #BC9E76;
    --miro-if-8215301a: #AC6700;
    --miro-if-851d5a45: #ce7e16;
    --miro-if-8d03604f: #ce7e16;
    --miro-if-8e425bfe: #F4F0EC;
    --miro-if-91176f10: #FA8D00;
    --miro-if-94dad415: #ce7e16;
    --miro-if-9ad4a640: #eeeeee;
    --miro-if-a8c57869: #eeeeee;
    --miro-if-ae6884db: #D0BDA4;
    --miro-if-b2819be2: #7D5E36;
    --miro-if-b318da33: #F9E8D2;
    --miro-if-b3ce36b1: #CD811D;
    --miro-if-ba47b56b: #603220;
    --miro-if-c1a0bfe3: #262626;
    --miro-if-c6c8bc62: #E68200;
    --miro-if-cb57bb52: #ce7e16;
    --miro-if-cf579cbb: #F9DDD2;
    --miro-if-d2f31bc0: #ce7e16;
    --miro-navbar-color-dark: #201F1D;
    --miro-if-d440a364: #E8C291;
    --miro-if-dc5cf808: #ffffff;
    --miro-if-dde4565a: #604420;
    --miro-if-deaa6f9b: #C87907;
    --miro-if-e0e5aa9e: #eeeeee;
    --miro-if-e33a6962: #333333;
    --miro-if-e44576b0: #E8A854;
    --miro-if-ea8983c1: #eeeeee;
    --miro-if-ec44ba6b: #db460d;
    --miro-if-ed1f2135: #422805;
    --miro-if-ed914f1d: #ce7e16;
    --miro-if-f1a3b180: #1F1F1F;
    --miro-if-f37627e5: #ce7e16;
    --miro-if-f57ecf46: #ADADAD;
    --miro-if-f5e54611: #333333;
    --miro-if-fa310009: #333333;
    --miro-if-v8c57865: #ffffff;
    --miro-lighten-196d441a: #FFFFFF;
    --miro-lighten-27d70c85: #3D3D3D;
    --miro-lighten-360db171: #FAA658;
    --miro-lighten-37654577: #454544;
    --miro-lighten-39320a59: #FFFFFF;
    --miro-lighten-49e49d58: #423E39;
    --miro-lighten-4d79a66d: #231D17;
    --miro-lighten-4f1df671: #A5A19D;
    --miro-lighten-6a0cbe6d: #FFE8DC;
    --miro-lighten-76740698: #FAA658;
    --miro-lighten-8b122426: #2D2822;
    --miro-lighten-919393a0: #FFFFFF;
    --miro-lighten-959ccfc9: #FFFFFF;
    --miro-lighten-9ae39279: #363636;
    --miro-lighten-a006ac60: #1D170F;
    --miro-lighten-c5da3167: #7E7976;
    --miro-lighten-f6fb5849: #FFFFFF;
    --miro-main-bg: #ffffff;
    --miro-main-bg-dark: #2b2b2b;
    --miro-primary-color: #ce7e16;
    --miro-primary-color-dark: #ce7e16;
    --miro-secondary-color: #ce7e16;
    --miro-secondary-color-dark: #ce7e16;
    --miro-sidebar-color: #ffffff;
    --miro-sidebar-color-dark: #1a1309;
    --miro-sidebar-contrast-dark: #ffffff;
    --miro-sidebar-contrast-dark2: #ffffff;
    --miro-sidebar-contrast-light: #333333;
    --miro-sidebar-contrast-light2: #222222;
    --miro-navbar-contrast-light: #333333;
    --miro-text-color: #eeeeee;
    --miro-text-color-dark: #eeeeee;
    --miro-widget-bg-dark: #525251;
    --miro-body-bg-color: #F4F0EC;
    --miro-body-bg-color-dark: #1F1F1F;
    --miro-notification-bg: #ffede4;
    --miro-notification-text: #4c2b01;
    --miro-notification-border: #b66e02;
    --miro-notification-bg-dark: #583301;
}
