:root {
    --miro-alert-color: #610802;
    --miro-alert-color-dark: #610802;
    --miro-console-text-color: #228b22;
    --miro-console-text-color-dark: #27ae60;
    --miro-darken-0efbf01c: #1BA95A;
    --miro-darken-111221b2: #015101;
    --miro-darken-12518b85: #EBEBEB;
    --miro-darken-1673785d: #2F982F;
    --miro-darken-19dd7eda: #09A053;
    --miro-darken-28c2c354: #F1F1F1;
    --miro-darken-28f7e606: #036C03;
    --miro-darken-29c4aefc: #A8CFA8;
    --miro-darken-2ad94c65: #003B1E;
    --miro-darken-3fd83bc2: #067B06;
    --miro-darken-411e4a78: #009C50;
    --miro-darken-41c1769c: #4D525A;
    --miro-darken-4879a36f: #560400;
    --miro-darken-4b80b5c4: #002B00;
    --miro-darken-553812b2: #008644;
    --miro-darken-57c981c3: #046E37;
    --miro-darken-618fc861: #045E04;
    --miro-darken-618fc862: #007F40;
    --miro-darken-62f5e2b6: #383D45;
    --miro-darken-686ca693: #046504;
    --miro-darken-68f1341c: #560400;
    --miro-darken-75d40b33: #037E03;
    --miro-darken-78904a7c: #121717;
    --miro-darken-7911e270: #141919;
    --miro-darken-87dfbfea: #007138;
    --miro-darken-8bbacd34: #59A179;
    --miro-darken-8df68996: #380300;
    --miro-darken-8e82a497: #047004;
    --miro-darken-8e899f91: #F6F6F6;
    --miro-darken-8f2deed1: #067B06;
    --miro-darken-970a799e: #6B7078;
    --miro-darken-9e0118e0: #444951;
    --miro-darken-a59823b8: #CFABA9;
    --miro-darken-a6b030af: #464B53;
    --miro-darken-a780cc60: #08924B;
    --miro-darken-a8b8ac97: #079D51;
    --miro-darken-b05e8d17: #F9F9F9;
    --miro-darken-b5221a2c: #004C00;
    --miro-darken-c2f685b8: #037E03;
    --miro-darken-c33ee2c5: #047004;
    --miro-darken-c806e739: #F3F3F3;
    --miro-darken-cd55fe88: #077A07;
    --miro-darken-d35a8f8e: #071422;
    --miro-darken-daccffb8: #079D51;
    --miro-darken-dc24222b: #161B1B;
    --miro-darken-e354f9b5: #08924B;
    --miro-darken-e71e1e83: #008D48;
    --miro-darken-e89a054b: #02A152;
    --miro-darken-ec72c039: #004C00;
    --miro-darken-eccec2f4: #09A053;
    --miro-darken-f6592ee2: #0C1313;
    --miro-darken-v73ofn52: #FCFCFC;
    --miro-fade-041bf36e: #27AE60B0;
    --miro-fade-09c43b35: #27AE60BF;
    --miro-fade-102be7f4: #8489912B;
    --miro-fade-193caeb6: #228B22B0;
    --miro-fade-304ae92d: #54E854BF;
    --miro-fade-5cff14c3: #27AE60E6;
    --miro-fade-b4a0a1c1: #228B2299;
    --miro-fade-ece660c0: #292D328F;
    --miro-fade-f865be76: #228B220F;
    --miro-if-035e91c6: #228b22;
    --miro-if-038054cd: #F9F9F9;
    --miro-if-09b7c5a1: #3D8F3D;
    --miro-if-0f08a484: #51B351;
    --miro-if-10618845: #228b22;
    --miro-if-190bbef8: #27AE600F;
    --miro-if-1b7f3b8b: #ADADAD;
    --miro-if-1b7f3b8c: #ADADAD;
    --miro-if-1b7f3b8d: #eeeeee;
    --miro-if-1f2de522: #03AA03;
    --miro-if-24167817: #AFB2B2;
    --miro-if-249e30a5: #0C920C;
    --miro-if-2db96ace: #0A760A;
    --miro-if-30a3c04d: #D0F0D0;
    --miro-if-3105643b: #27ae60;
    --miro-if-3b6cb002: #ffffff;
    --miro-if-417fecde: #242727;
    --miro-if-4a0e097b: #292D32;
    --miro-if-4ab14308: #203120;
    --miro-if-4bc80e64: #eeeeee;
    --miro-if-5905ebb4: #eeeeee;
    --miro-if-5ac7f651: #46DD46;
    --miro-if-5bc80e62: #ffffff;
    --miro-if-6f85b072: #333333;
    --miro-if-72f3068c: #00763A;
    --miro-if-7dea713b: #ffffff;
    --miro-if-7f94f006: #76BC94;
    --miro-if-8215301a: #08924B;
    --miro-if-851d5a45: #27ae60;
    --miro-if-8d03604f: #228b22;
    --miro-if-8e425bfe: #ECF4EC;
    --miro-if-91176f10: #00FA00;
    --miro-if-94dad415: #27ae60;
    --miro-if-9ad4a640: #eeeeee;
    --miro-if-a8c57869: #eeeeee;
    --miro-if-ae6884db: #A4D0A4;
    --miro-if-b2819be2: #367D36;
    --miro-if-b318da33: #D2F9D2;
    --miro-if-b3ce36b1: #1DCD1D;
    --miro-if-ba47b56b: #602420;
    --miro-if-c1a0bfe3: #292D32;
    --miro-if-c6c8bc62: #00E600;
    --miro-if-cb57bb52: #27ae60;
    --miro-if-cf579cbb: #F9D4D2;
    --miro-if-d2f31bc0: #27ae60;
    --miro-navbar-color-dark: #1D201E;
    --miro-if-d440a364: #91E891;
    --miro-if-dc5cf808: #ffffff;
    --miro-if-dde4565a: #20603B;
    --miro-if-deaa6f9b: #1BA95A;
    --miro-if-e0e5aa9e: #eeeeee;
    --miro-if-e33a6962: #333333;
    --miro-if-e44576b0: #54E854;
    --miro-if-ea8983c1: #eeeeee;
    --miro-if-ec44ba6b: #610802;
    --miro-if-ed1f2135: #054205;
    --miro-if-ed914f1d: #228b22;
    --miro-if-f1a3b180: #292D32;
    --miro-if-f37627e5: #27ae60;
    --miro-if-f57ecf46: #ADADAD;
    --miro-if-f5e54611: #333333;
    --miro-if-fa310009: #333333;
    --miro-if-v8c57865: #ffffff;
    --miro-lighten-196d441a: #FFFFFF;
    --miro-lighten-27d70c85: #565B63;
    --miro-lighten-360db171: #62D78A;
    --miro-lighten-37654577: #5D6269;
    --miro-lighten-39320a59: #FFFFFF;
    --miro-lighten-49e49d58: #4A4D4D;
    --miro-lighten-4d79a66d: #282B2B;
    --miro-lighten-4f1df671: #AFB2B2;
    --miro-lighten-6a0cbe6d: #91E691;
    --miro-lighten-76740698: #56B356;
    --miro-lighten-8b122426: #333636;
    --miro-lighten-919393a0: #FFFFFF;
    --miro-lighten-959ccfc9: #FFFFFF;
    --miro-lighten-9ae39279: #454951;
    --miro-lighten-a006ac60: #212525;
    --miro-lighten-c5da3167: #888A8A;
    --miro-lighten-f6fb5849: #FFFFFF;
    --miro-main-bg: #ffffff;
    --miro-main-bg-dark: #393e46;
    --miro-primary-color: #228b22;
    --miro-primary-color-dark: #27ae60;
    --miro-secondary-color: #228b22;
    --miro-secondary-color-dark: #27ae60;
    --miro-sidebar-color: #ffffff;
    --miro-sidebar-color-dark: #1d2121;
    --miro-sidebar-contrast-dark: #ffffff;
    --miro-sidebar-contrast-dark2: #ffffff;
    --miro-sidebar-contrast-light: #333333;
    --miro-sidebar-contrast-light2: #222222;
    --miro-navbar-contrast-light: #333333;
    --miro-text-color: #eeeeee;
    --miro-text-color-dark: #eeeeee;
    --miro-widget-bg-dark: #848991;
    --miro-body-bg-color: #ECF4EC;
    --miro-body-bg-color-dark: #292D32;
    --miro-notification-bg: #a0f9a0;
    --miro-notification-text: #002500;
    --miro-notification-border: #037803;
    --miro-notification-bg-dark: #004d24;
}
