test-out.xml
model/**/*.ipynb_checkpoints
model/**/*.xlsx
model/**/*.miroconf
model/**/*.miroapp
model/**/*.zip
model/**/*.bat
model/**/*.opt
model/**/*.pf
model/**/*.gdx
model/**/*.trc
!model/**/data_*/*.gdx
!model/**/data_*/*.xls
!model/**/data_*/*.xlsx
!model/**/data_*/*.zip
model/**/runapp.R
model/**/*_miro.gms
model/**/*_hcube_jobs
gamslice.txt
